.container {
  /*  */
}

.checkmark {
  display: block;
  margin: 0 auto 60px auto;
}

.container h1 {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.meetingDetails {
  grid-column: 2 / span 5;
  margin: 120px 0;
  padding: 0 75px 100px 75px;
  background-color: var(--aptible-black-light);
}

.person {
  text-align: center;
}

.photoContainer {
  position: relative;
  margin: -60px auto 15px auto;
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 200px;
  margin: 0 10px;
}

.icon {
  position: absolute;
  bottom: 5px;
  right: 40px;
}

.questionsContainer {
  margin-top: 60px;
}

.questionsContainer h2 {
  text-align: center;
}

.questions {
  margin-top: 45px;
}

.submit {
  grid-row: 3;
  grid-column: 1 / span 2;
  padding-top: 30px;
}

.submit div {
  width: 592px;
}

@media (--mobile) {
  .meetingDetails {
    grid-column: 1 / span 7;
    padding: 0 20px 40px 20px;
    margin: 30px 0;
  }

  .photoContainer {
    margin-top: -20px;
  }

  .photo {
    width: 60px;
    height: 60px;
    margin: 0 4px;
  }

  .submit {
    grid-column: 1 / span 7;
  }

  .submit div {
    width: auto;
  }
}
