.container {
  /*  */
}

.container h3 {
  text-align: center;
  padding-bottom: 60px;
}

.product {
  background-color: var(--aptible-black-light);
  border-bottom: 4px solid var(--aptible-black-light);
  cursor: pointer;
  background-size: 700px auto;
  background-repeat: no-repeat;
  padding: 230px 90px 90px 90px;
}

.product:hover {
  background-color: var(--aptible-card-hover);
  border-bottom-color: var(--aptible-yellow);
}

.comply {
  grid-row: 1;
  grid-column: 1 / span 4;
  margin-right: 85px;
  background-image: url('../../images/illustrations/comply.png');
  background-position: -50px -180px;
}

.deploy {
  grid-row: 1;
  grid-column: 4 / span 4;
  margin-left: 85px;
  background-image: url('../../images/illustrations/deploy.png');
  background-position: -50px -250px;
}

.title {
  max-width: 250px;
}

.bigArrow {
  float: right;
  width: 120px;
  height: 120px;
  border: 1px solid var(--white-thirty);
  border-radius: 100px;
}

.product:hover .bigArrow {
  border-color: var(--aptible-yellow);
  background-color: var(--aptible-yellow);
}

.bigArrow svg {
  margin-top: 40px;
  margin-left: 40px;
}

.product:hover .bigArrow svg path {
  fill: var(--aptible-black);
}

.bullets {
  margin-top: 45px;
}
