.container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  background-color: var(--aptible-black);
  z-index: 100;
  overflow-y:scroll;
}

.logo {
  grid-row: 1;
  grid-column: 1;
  padding: 75px 0;
}

.logo img {
  width: 100%;
}

.close {
  grid-row: 1;
  grid-column: 7;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  color: var(--body-color);
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  padding: 80px 0 70px 0;
}

.close:hover {
  color: white;
}

.content {
  grid-row: 2;
  grid-column: 1 / span 7;
}
