
.feature {}

.featureTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 36px;
  margin-right: 80px;
}

.featureTitleText {
  flex: 1;
}

.featureSmallImage {
  width: 80px;
}

.featureHeroImage {
  margin-top: 48px;
}

.featureHeroImage img {
  width: 100%;
}


@media (--mobile) {
  .featureTitle {
    margin: 0;
    flex-direction: column;
  }

}