.card {
  background-color: var(--aptible-black-light);
  color: white;
  display: flex;
  flex-direction: row;
}

.quoteArea {
  width: calc(100%*8/13);
  padding: 40px 80px;
  box-sizing:border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quoteAreaContents {

}


.byline {
  color: var(--white-seventy);
}

.byline a {
  color: white;
  text-decoration: none;
}

.mediaArea {
  width: calc(100%*5/13);
  overflow: hidden;
}

.logo {
  height: 24px;
  margin-bottom: 48px;
}

.quoteArea h5 {
  margin-top: 0;
  margin-bottom: 48px;
}

.mediaArea img {
  width: 100%;
  margin-bottom: -7px;
}
