.container {
  padding: 100px 0 2px 0;
}

.intro {
  margin-bottom: 100px;
}

.content {
  position: relative;
  grid-column: 2 / span 4;
  margin-bottom: 50px;
}

.continuousHeadline {
  font-size: 52px;
  padding-top: 30px;
}

.intro h1 {
  margin: 30px 0;
}

.intro p {
  max-width: 550px;
}

.bullets {
  grid-row: 1;
  grid-column: 2 / span 3;
  margin-right: 80px;
}

.bullet {
  position: relative;
  margin-bottom: 60px;
}

.bulletIcon {
  position: absolute;
  left: -160px;
  width: 160px;
  text-align: center;
  top: 0;
}

.guaranteeContainer {
  grid-row: 1;
  grid-column: 5 / span 3;
}

.guarantee {
  background: linear-gradient(168.29deg, rgba(255, 255, 255, 0.04) 7.84%, rgba(255, 255, 255, 0.032) 83.16%), #0A1B2B;
  padding: 80px 40px 40px 40px;
}

.guarantee h2 {
  text-align: center;
}

.guaranteeList {
  margin: 30px auto 0 auto;
  width: 80%;
}

.thumbsUp {
  position: absolute;
  top: 130px;
  right: -143px;
  z-index: 2;
}

.toSeamless {
  position: absolute;
  top: -206px;
  right: -85px;
  z-index: 2;
}

.beyondLeft {
  position: absolute;
  top: -190px;
  left: -84px;
}

.beyondRight {
  position: absolute;
  top: 55px;
  left: 326px;
}

.screenshots {
  grid-row: 1;
  grid-column: 5 / span 3;
  margin-top: -180px;
  margin-bottom: -180px;
}

.chat {
  width: 320px;
  float: right;
  margin-bottom: 60px;
}

.screenshot {
  position: relative;
  z-index: 1;
  width: 320px;
  margin-left: 80px;
}

.dpa {
  position: relative;
  top: -130px;
  z-index: 2;
  width: 320px;
  float: right;
}

.workflows {
  grid-row: 2;
  grid-column: 2 / span 5;
  margin: 100px 0 30px 0;
}

@media (--mobile) {
  .content {
    grid-column: 1 / span 7;
    margin-bottom: 0;
  }

  .intro {
    margin-bottom: 30px;
  }

  .bullets {
    grid-row: 1;
    grid-column: 1 / span 7;
    margin-right: 0;
  }

  .bulletIcon {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }

  .guaranteeContainer {
    grid-row: 2;
    grid-column: 1 / span 7;
  }

  .guarantee {
    padding: 40px 20px 20px 20px;
  }

  .thumbsUp,
  .toSeamless,
  .beyondLeft,
  .beyondRight {
    display: none;
  }

  .screenshots {
    grid-row: 2;
    grid-column: 1 / span 7;
    margin-top: 0;
  }

  .chat {
    float: none;
    margin-bottom: 60px;
  }

  .screenshot {
    margin-left: 0;
  }

  .continuousHeadline {
    font-size: 30px;
    padding-top: 0;
  }

  .workflows {
    grid-column: 1 / span 7;
  }
}
