.container {
  margin: 200px 0;
}

.intro {
  margin-bottom: 100px;
}

.content {
  grid-column: 2 / span 4;
}

.intro h1 {
  margin: 30px 0;
}

.intro p {
  max-width: 550px;
}

.placeholder {
  height: 600px;
  background: linear-gradient(168.29deg, rgba(255, 255, 255, 0.04) 7.84%, rgba(255, 255, 255, 0.032) 83.16%), #0A1B2B;
}
