.container {
  padding: 30px 0 200px 0;
  background-image: url('../../images/illustrations/comply.png');
  background-size: 900px auto;
  background-repeat: no-repeat;
  background-position: 70% 300px;
}

.content {
  grid-row: 1;
  grid-column: 1 / span 4;
}

.content h1 span {
  display: block;
  font-size: 50px;
}

.content h5 {
  margin-bottom: 30px;
}

.content p {
  padding: 20px 0;
  max-width: 600px;
}

.cardContainer {
  grid-row: 1;
  grid-column: 5 / span 3;
  line-height: 0;
  margin-top: -60px;
}

.imageContainer {
  position: relative;
  min-height: 270px;
}

.videoLength {
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 10px 12px;
  background-color: var(--aptible-black-twenty);
  z-index: 1;
  border-radius: 31px;
  color: white;
}

.videoLength p {
  display: inline-block;
  margin: 0;
  line-height: 1;
  letter-spacing: -0.03em;
}

.videoPlayIcon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 8px;
}

.cardImage {
  width: 100%;
  cursor: pointer;
}

.cardContent {
  background-color: var(--aptible-black-light);
  padding: 40px;
}

.cardContent .logo {
  height: 20px;
  margin-bottom: 10px;
}

.cardContent p::first-letter {
  margin-left: -5px;
}

.cardAuthor {
  color: white;
  margin-top: 30px;
  font-weight: 500;
}

@media (--mobile) {
  .container {
    background: none;
    padding-bottom: 0px;
  }

  .content {
    grid-row: 1;
    grid-column: 1 / span 7;
    padding-bottom: 30px;
  }

  .content h1 {
    font-size: 30px;
  }

  .content h1 span {
    font-size: 24px;
  }

  .content h5 {
    margin-bottom: 15px;
  }

  .content p {
    padding: 0 0 20px 0;
  }

  .cardContainer {
    grid-row: 2;
    grid-column: 1 / span 7;
    padding: 15px 0;
    margin-top: 0;
  }

  .imageContainer {
    min-height: 170px;
  }
}
