.container {
  padding-bottom: 120px;
  padding-top: 30px;
  background-image: url('../../images/illustrations/comply.png');
  background-size: 900px auto;
  background-repeat: no-repeat;
  background-position: 100% 250px;

  /* background: no-repeat 1200px -100px/1000px url('../../../images/illustrations/comply.png');  */
}

.content {
  grid-row: 1;
  grid-column: 1 / span 4;
}

.content h1 {
  margin-bottom: 60px;
}

.content h5 {
  margin-bottom: 30px;
}

.content p {
  margin: 20px 0;
  max-width: 500px;
}

.content p b {
  color: white;
  font-weight: 500;
}

.arrow {
  color: var(--aptible-green);
}

.cta {
  margin-top: 50px;
}

.screenshot {
  grid-row: 1;
  grid-column: 4 / span 4;
  text-align: right;
  margin-top: 90px;
  margin-left: 125px;
}

.screenshot img {
  width: 100%;
}

.screenshot p {
  max-width: 350px;
  margin: 0 auto;
}

@media (--mobile) {
  .container {
    background: none;
    padding-bottom: 50px;
  }

  .content {
    grid-row: 1;
    grid-column: 1 / span 7;
    margin-bottom: 30px;
  }

  .content h1 {
    margin-bottom: 30px;
  }

  .content h5 {
    margin-bottom: 15px;
  }

  .screenshot {
    grid-row: 2;
    grid-column: 1 / -1;
    margin: 30px 0;
  }

  .screenshot img {
    max-width: 100%;
  }
}
