.container {
  padding-bottom: 200px;
}

.intro {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.intro h2 {
  margin-bottom: 60px;
}

.intro p {
  padding-right: 120px;
}

.intro p + p {
  padding-right: 40px;
}

.illustration {
  align-self: center;
  grid-column: 4 / -1;
  grid-row: 1;
  justify-self: flex-end;
  padding-top: 100px;
}

.illustration > img {
  max-width: 100%;
}

.cta {
  grid-column: 1 / -1;
  grid-row: 2;
  /* margin-top: 26px; */
  margin-top: -80px;
}

@media (--mobile) {
  .container {
    padding-bottom: 50px;
  }

  .intro {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-bottom: 30px;
  }

  .intro h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .intro p {
    padding-right: 0;
  }

  .illustration {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: flex-start;
    padding-top: 0;
  }

  .cta {
    grid-row: 3;
    margin-top: 0;
  }
}
