.container {
  margin-top: 100px;
}

.intro {
  grid-row: 1;
  grid-column: 2 / span 5;
  margin-bottom: 60px;
}

.intro h5 {
  margin-bottom: 30px;
}

.left {
  grid-row: 2;
  grid-column: 2 / span 3;
  margin-right: 160px;
}

.right {
  grid-row: 2;
  grid-column: 6 / span 2;
}

.bullet {
  position: relative;
  margin-bottom: 60px;
}

.bulletIcon {
  position: absolute;
  left: -160px;
  width: 160px;
  text-align: center;
  top: 0;
}
