.container {
  padding-bottom: 200px;
  position: relative;
}

.intro {
  grid-column: 1 / -1;
  grid-row: 1;
  position: relative;
  z-index: 2;
}

.intro h2 {
  margin-bottom: 60px;
  padding-right: 100px;
}

.intro h5 {
  margin-bottom: 30px;
}

.intro p {
  margin: 20px 0;
  max-width: 750px;
}

.badges {
  align-items: center;
  align-self: flex-start;
  display: flex;
  grid-column: 1 / span 3;
  grid-row: 2;
  margin-top: 76px;
  position: relative;
  z-index: 2;
}

.badge + .badge {
  margin-left: 30px;
}

.badge {
  color: var(--white-fifty);
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.badge > svg {
  display: block;
  font-size: 73px;
  margin-bottom: 19px;
}

.illustration {
  bottom: -59px;
  left: -20px;
  max-width: 776px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.illustration > img {
  height: auto;
  width: 100%;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.blocks {
  display: flex;
  flex-direction: column;
  grid-column: 5 / -1;
  grid-row: 2;
  justify-self: flex-end;
  margin-top: -108px;
  position: relative;
  width: 363px;
  z-index: 2;
}

.blocksCard {
  background-color: var(--aptible-black-light);
  box-sizing: border-box;
  padding: 28px 20px;
  position: relative;
  width: 100%;
}

.blocksCard + .blocksCard {
  margin-top: 20px;
}

.blocksCard p {
  margin-bottom: 0;
  margin-top: 8px;
}

.beacon {
  border-radius: 100%;
  bottom: 0;
  height: 13px;
  left: -6px;
  margin-bottom: auto;
  margin-top: auto;
  position: absolute;
  top: -0;
  width: 13px;
}

.blocksCard:nth-child(1) .beacon {
  background-color: #2f80ed;
  box-shadow: 0 0 0 16px rgba(47, 128, 237, .1);
}

.blocksCard:nth-child(2) .beacon {
  background-color: var(--aptible-yellow);
  box-shadow: 0 0 0 16px rgba(253, 181, 21, .1);
  top: 6px;
}

.blocksCard:nth-child(3) .beacon {
  background-color: var(--aptible-green);
  box-shadow: 0 0 0 16px rgba(51, 198, 159, .1);
  top: -50px;
}

@media (--mobile) {
  .container {
    padding-bottom: 50px;
  }

  .intro h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-right: 0;
  }

  .intro h5 {
    margin-bottom: 15px;
  }

  .badges {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .badges {
    flex-wrap: wrap;
    grid-column: 1 / -1;
    margin-top: 15px;
    text-align: left;
    width: 100%;
  }
  
  .badge {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    width: 50%;
  }
  
  .badge + .badge {
    margin-left: 0;
  }
  
  .badge > svg {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .illustration {
    bottom: auto;
    grid-column: 1 / -1;
    grid-row: 3;
    left: auto;
    margin-top: 30px;
    max-width: 642px;
    position: relative;
  }

  .illustration > img {
    left: -10px;
    position: relative;
    width: calc(100% + 13px);
  }

  .desktop {
    display: none;
  }
  
  .mobile {
    display: block;
  }

  .blocks {
    grid-column: 1 / -1;
    grid-row: 4;
    justify-self: flex-start;
    margin-top: 30px;
    width: 100%;
  }

  .beacon {
    display: none;
  }
}
