.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  background-color: var(--aptible-yellow);
  border: 1px solid var(--aptible-yellow);
}

.circle svg path {
  fill: #0a1b2b;
}

.outline {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--aptible-black);
}

.outline svg path {
  fill: var(--aptible-yellow);
}

.noCircle {
  background-color: transparent;
  border-color: transparent;
}
