.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox {
  position: relative;
  /* display: inline-block; */
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid var(--white-fifty);
  margin: 0 7px -5px 0;
  cursor: pointer;
}

.checkbox img {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 15px;
  height: 15px;
}

.checkbox:hover {
  border-color: white;
}
