.container ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.container li {
  background: url('../../images/signup/checkmark.svg') no-repeat left 15%;
  font-size: 16px;
  margin: 0;
  padding: 0 0 20px 45px;
}

@media (--mobile) {
  .container li {
    background-size: 13px;
    padding: 0 0 10px 25px;
  }
}
