.container {
  position: relative;
  background-color: var(--aptible-black);
  border-bottom: 1px solid var(--grid-lines-color);
  z-index: 100;
}

.content {
  grid-row: 1;
  grid-column: 1 / span 7;
  text-decoration: none;
  padding: 5px 0;
}

.content p {
  color: var(--body-color);
}

.content:hover p {
  text-decoration: underline;
  text-decoration-color: var(--aptible-green);
}

.content span {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-right: 15px;
}

.close {
  position: relative;
  grid-row: 1;
  grid-column: 7;
  text-align: right;
}

.close svg {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 0;
}

@media (--mobile) {
  .content {
    padding: 10px 0;
  }

  .content span {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .content p {
    margin-right: 40px;
  }
}
