.scrollBeacon {
  position: sticky;
  height: 1px;
  opacity: 0;
}

.container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-top: 1px solid var(--grid-lines-color);
  border-bottom: 1px solid var(--grid-lines-color);
  z-index: 10;
  background-color: var(--aptible-black);
  padding: 6px 0;
}

.navItems {
  grid-row: 1;
  grid-column: 1 / span 5;
  padding: 10px 0;
}

.navItems.noCta {
  grid-column: 1 / span 7;
  text-align: center;
}

.navItem {
  position: relative;
  display: inline-block;
  padding: 6px 0;
  margin-right: 45px;
  text-decoration: none;
}

.navItem h6 {
  color: var(--body-color);
}

.navItem:hover h6,
.navItem.active h6 {
  color: white;
  cursor: pointer;
}

.circle {
  position: absolute;
  bottom: 0;
  left: 43%;
  display: none;
  width: 4px;
  height: 4px;
  background-color: var(--aptible-green);
  border-radius: 20px;
}

.navItem.active .circle {
  display: block;
}

.cta {
  grid-row: 1;
  grid-column: 6 / span 2;
  text-align: right;
}
