.container {
  /*  */
}

.headline {
  grid-row: 1;
  grid-column: 2 / span 6;
  padding-bottom: 30px;
}

.benefitGrid {
  grid-row: 2;
  grid-column: 2 / span 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.benefit {
  position: relative;
  margin: 45px 80px 15px 0;
}

.benefit h6,
.benefit p {
  margin-left: 55px;
}

.benefitIcon {
  position: absolute;
}

@media (--mobile) {
  .headline {
    grid-column: 1 / span 7;
  }

  .benefitGrid {
    grid-column: 1 / span 7;
    grid-template-columns: 1fr;
  }

  .benefit {
    margin: 15px 0;
  }
}
