.intro {
  grid-row: 1;
  grid-column: 2 / span 5;
  margin-right: 80px;
}

.cultureGrid {
  grid-row: 2;
  grid-column: 2 / span 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
  row-gap: 60px;
}

.culture {
  padding-right: 80px;
}

.cta {
  grid-column: 2 / span 6;
  grid-row: 3;
}

@media (--mobile) {
  .intro {
    grid-column: 1 / -1;
    margin-right: 0;
  }

  .cultureGrid {
    grid-column: 1 / -1;
    grid-template-columns: 1fr;
    margin-top: 100px;
    row-gap: 15px;
  }

  .culture {
    padding-right: 0;
  }

  .cta {
    grid-column: 1 / -1;
  }
}
