.container {
  
}

.intro {
  grid-row: 1;
  grid-column: 2 / span 5;
  margin-right: 80px;
}

.cultureGrid {
  grid-row: 2;
  grid-column: 2 / span 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
}

.culture {
  margin: 0 80px 60px 0;
}

@media (--mobile) {
  .intro {
    grid-column: 1 / span 7;
    margin-right: 0;
  }

  .cultureGrid {
    grid-column: 1 / span 7;
    grid-template-columns: 1fr;
    margin-top: 100px;
  }

  .culture {
    margin: 0 0 15px 0;
  }
}
