.container {
  margin: 100px 0 0;
}

.headline {
  grid-row: 1;
  grid-column: 1 / span 7;
  text-align: center;
  z-index: 3;
  margin-top: -80px;
}

.bgImage {
  grid-row: 1;
  grid-column: 1 / span 7;
  z-index: 1;
}

.bgImage img {
  max-width: 100%;
}

.zoomChat {
  grid-row: 1;
  grid-column: 1 / span 7;
  margin: 180px 80px;
  z-index: 2;
}

.whoWeAre {
  grid-row: 2;
  grid-column: 2 / span 5;
  padding-top: 150px;
}

.whoWeAre h1 {
  margin-bottom: 45px;
}

.video {
  width: 640px;
  height: 320px;
}

@media (--mobile) {
  .container {
    margin-bottom: 0;
  }

  .zoomChat {
    margin: 100px 10px 10px 10px;
  }

  .whoWeAre {
    grid-column: 1 / span 7;
  }
}
