.container {
  padding: 100px 0 150px 0;
}

.sidebar {
  grid-column: 1 / span 2;
}

.list {
  grid-column: 3 / span 5;
}

@media (--mobile) {
  .container {
    padding-bottom: 30px;
  }

  .sidebar {
    grid-row: 1;
    grid-column: 1 / span 7;
    padding-bottom: 30px;
  }

  .list {
    grid-row: 2;
    grid-column: 1 / span 7;
  }
}
