.window {
  background-color: var(--aptible-black);
  border-radius: 4px;
}

.header {
  position: relative;
  padding: 7px;
}

.circles {
  position: absolute;
  top: 7px;
  left: 10px;
  display: inline-block;
  line-height: 0;
}

.circle {
  display: inline-block;
  margin-right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #3a4854;
}

.titleBar {
  width: 170px;
  height: 9px;
  border-radius: 2px;
  margin: 0 auto;
  background-color: #22313e;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 4px;
  grid-auto-rows: auto;
  padding: 0 4px 4px 4px;
}

.photo {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
}
