.grid {
  position: relative;
  display: grid;
  max-width: var(--content-max-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}

.fullRow {
  grid-column: 1 / -1;
}

@media (--mobile) {
  .grid {
    width: 85%;
  }
}
