.grid {
  position: relative;
  display: grid;
  width: var(--content-max-width);
  margin: 0 auto;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}

.fullRow {
  grid-column: 1 / span var(--grid-columns);
}

@media (--mobile) {
  .grid {
    width: 85%;
  }
}
