.container {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.gridLines {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.column {
  border-right: 1px solid var(--aptible-black-five);
}

.column:first-child {
  border-left: 1px solid var(--aptible-black-five);
}
