.funFacts {
  grid-row: 2;
  margin: 30px 0;
}

.funFact {
  margin: 0;
}

.funFact h6 {
  color: var(--body-color);
  margin-bottom: 15px;
}

.container {
  padding: 30px 0 100px 0;
}

.sectionHeading {
  grid-row: 1;
  margin: 0 0 30px;
}
