.button,
a.button {
  display: inline-block;
  padding: 13px 29px;
  text-align: center;
  background-color: var(--aptible-yellow);
  border: 1px solid var(--aptible-yellow);
  font-weight: 500;
  color: var(--aptible-black);
  text-decoration: none;
  border-radius: 28px;
  cursor: pointer;
}

.button.small,
a.button.small {
  font-size: 14px;
  padding: 3px 16px 4px;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--aptible-black);
  color: white;
}

.button:focus {
  outline: none;
}

.black {
  background-color: var(--aptible-black);
  border-color: var(--aptible-black);
  color: white;
}

.black:hover,
.black:active,
.black:focus {
  color: var(--aptible-black);
}

@media (--mobile) {
  .button,
  a.button {
    display: block;
    font-size: 18px;
  }
}
