.button {
  display: inline-block;
  padding: 14px 0;
  width: 100%;
  text-align: center;
  background-color: var(--aptible-yellow);
  font-weight: 500;
  color: var(--aptible-black);
  text-decoration: none;
  border-radius: 28px;
}

.button:hover {
  background-color: #fec649;
}
