.button {
  display: inline-block;
  padding: 14px 30px;
  text-align: center;
  background-color: var(--aptible-yellow);
  font-weight: 500;
  color: var(--aptible-black);
  text-decoration: none;
  border-radius: 28px;
}

.button:hover {
  background-color: #fec649;
}

.black {
  background-color: var(--aptible-black);
  color: white;
}

.black:hover {
  background-color: var(--aptible-black-light);
}
