.container {
  padding-bottom: 200px;
}

.intro {
  grid-column: 5 / span 3;
  grid-row: 1;
  padding-left: 120px;
}

.intro h2 {
  margin-bottom: 60px;
}

.nav button {
  background-color: transparent;
  border: 0;
  color: var(--white-fifty);
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 46px;
  padding: 0;
  position: relative;
}

.nav button:hover,
.nav button:active,
.nav button:focus,
.nav button.active {
  color: white;
}

.nav button:focus {
  outline: none;
}

.circle {
  display: none;
  position: absolute;
  top: 11px;
  left: -20px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: var(--aptible-green);
}

.nav button.active .circle {
  display: block;
}

.illustration {
  grid-column: 1 / span 4;
  grid-row: 1;
  text-align: center;
}

.illustration img {
  max-width: 100%;
}

.illustration p {
  padding: 0 20px;
}

.cta {
  margin-top: 30px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (--mobile) {
  .container {
    padding-bottom: 50px;
  }

  .intro {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-bottom: 30px;
    padding-left: 0;
  }

  .intro h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .intro p {
    padding-right: 0;
  }

  .nav {
    margin-top: 30px;
  }

  .nav button {
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
  }

  .circle {
    top: 7px;
    left: -20px;
  }

  .illustration {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .illustration p {
    margin-bottom: 0;
    padding: 0;
  }

  .cta {
    grid-column: 1 / -1;
    grid-row: 3;
    margin-top: 0;
  }

  .desktop {
    display: none;
  }
  
  .mobile {
    display: block;
  }
}
