input[type=text],
input[type=email] {
  font-family: 'NeueMontreal', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 500;
  letter-spacing: 0.03em;
  border: none;
  mix-blend-mode: darken;
  box-shadow: inset 0px -1px 0px rgba(10, 27, 43, 0.3);
  padding: 20px 0;
}

input::-webkit-input-placeholder {
  font-weight: 400;
}

input:focus {
  outline-width: 0;
  box-shadow: inset 0px -1px 0px rgba(10, 27, 43, 0.75);
}

input:focus::-webkit-input-placeholder {
  color: transparent
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
