/* :root {
  --section-margin: 190px;
}

@media (--mobile) {
  :root {
    --section-margin: 80px;
  }
} */

body {
  background-color: #0a1b2b;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #fdb515;
  color: #0a1b2b;
}
