@font-face {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/NeueMontreal-Regular.ttf') format('ttf'),
    url('../fonts/NeueMontreal-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/NeueMontreal-Medium.ttf') format('ttf'),
    url('../fonts/NeueMontreal-Medium.woff') format('woff');
}


body {
  font-family: 'NeueMontreal', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 400;
  color: #b5bbbf;
  line-height: 1.6666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'NeueMontreal', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 500;
  color: #fffffe;
  line-height: 1;
  margin: 0;
}

h1, .h1 {
  font-size: 64px;
  line-height: 70px;
}

h1.hero {
  font-size: 96px;
  line-height: 88px;
}

h2, .h2 {
  font-size: 40px;
  line-height: 46px;
}

h3, .h3 {
  font-size: 32px;
  line-height: 36px;
}

h4, .h4 {
  font-size: 28px;
  line-height: 34px;
}

h5, .h5 {
  font-size: 24px;
  line-height: 30px;
}

h6, .h6 {
  font-size: 16px;
  line-height: 22px;
}

h6.small {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

p,
table,
ul,
ol {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.5;
}

.S {
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.333;
}

.M {
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 1.6;
}

p.L {
  font-size: 18px;
  line-height: 1.5;
}

p.L-bold {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

p.XL {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

strong,
.white-text {
  color: white;
}

a,
a:visited {
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--aptible-green);
}

a:hover {
  text-decoration: none;
}

.desktopOnly {
  /*  */
}

.mobileOnly {
  display: none;
}

@media (--mobile) {
  body {
    font-size: 14px;
  }

  h1.hero {
    font-size: 48px;
    line-height: 52px;
  }

  h1 {
    font-size: 24px;
    line-height: 30px;
  }

  h2 {
    font-size: 20px;
    line-height: 30px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  h4 {
    font-size: 16px;
    line-height: 22px;
  }

  h5 {
    font-size: 14px;
    line-height: 18px;
  }

  p,
  table {
    font-size: 14px;
    line-height: 144%;
  }

  p.L {
    font-size: 14px;
  }

  p.XL {
    font-size: 18px;
  }

  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: inline-block;
  }
}
