.title {
  grid-row: 1;
  grid-column: 1 / span 7;
  padding: 80px 0 160px 0;
}

.contentHalfWidth {
  grid-row: 2;
  grid-column: 1 / span 4;
  padding-bottom: 200px;
}

.contentFullWidth {
  grid-row: 2;
  grid-column: 1 / -1;
  padding-bottom: 200px;
}

.contentHalfWidth li {
  font-size: 16px;
  margin-bottom: 15px;
}

.sidebar {
  grid-row: 2;
  grid-column: 6 / span 2;
}

.richContent h1 {
  margin-bottom: 64px;
}

.richContent h4 {
  margin: 64px 0 32px;
}

.richContent hr {
  border: 0;
  border-bottom: 1px solid var(--white-ten);
  margin: 64px 0 128px;
  height: 0;
}

.richContent.contentFullWidth h1,
.richContent.contentFullWidth h5 {
  padding-right: 360px;
}

.richContent.contentHalfWidth p {
  font-size: 18px;
}

.richContent.contentFullWidth p {
  font-size: 24px;
}

.richContent blockquote {
  padding: 32px 128px;
  margin: 64px 0;
  background: var(--white-five);
}

.richContent blockquote p {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: white;
}


@media (--mobile) {
  .title {
    padding: 60px 0;
  }

  .content,
  .contentFullWidth {
    grid-row: 2;
    grid-column: 1 / span 7;
    padding-bottom: 30px;
  }

  .sidebar {
    grid-row: 3;
    grid-column: 1 / span 7;
    padding-bottom: 30px;
  }
}
