.container {
  margin-bottom: 150px;
}

.headline {
  grid-row: 1;
  grid-column: 1 / span 7;
}

.headline h5 {
  margin-bottom: 15px;
}

.details {
  grid-row: 2;
  grid-column: 1 / span 4;
}

.info {
  background-color: var(--aptible-black-light);
  padding: 80px;
  margin: 45px 0;
}
