.hero {
  grid-row: 1;
  grid-column: 1 / span 7;
  padding: 60px 0;
}

.meta {
  grid-row: 2;
  grid-column: 1 / span 7;
  padding-bottom: 60px;
}

.content {
  grid-row: 3;
  grid-column: 1 / span 4;
  padding-bottom: 200px;
}

.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child), 
.content h5:not(:first-child) {
  margin-top: 100px;
}

.content h6 {
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 30px;
}

.content h6:first-child:first-letter {
  color: var(--aptible-yellow);
  float: left;
  font-size: 58px;
  line-height: 1;
  padding-right: 8px;
  padding-top: 4px;
}

.content hr {
  border: 0;
  border-top: 1px solid var(--grid-lines-color);
}

.sidebar {
  grid-row: 3;
  grid-column: 6 / span 2;
}

@media (--mobile) {
  .meta {
    padding-bottom: 30px;
  }

  .content {
    grid-row: 3;
    grid-column: 1 / span 7;
    padding-bottom: 30px;
  }

  .sidebar {
    grid-row: 4;
    grid-column: 1 / span 7;
    padding-bottom: 30px;
  }
}
