.container {
  margin: 200px 0;
}

.intro {
  grid-column: 2 / span 5;
  margin-bottom: 50px;
}

.bullet {
  padding: 0 130px 80px 0;
}

.bulletLeft {
  grid-column: 2 / span 3;
}

.bulletRight {
  grid-column: 5 / span 3;
}

.bulletTop {
  grid-row: 1;
}

.bulletBottom {
  grid-row: 2;
}
