.tmpThumbnail {
  position: relative;
  z-index: 1;
  width: 85px;
  height: 105px;
  margin: 0 auto 15px auto;
}

.tmpBg {
  width: 100%;
  height: 100%;
}

.active {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--aptible-black-seventy);
}

.progressBar {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 4px;
  background-color: white;
  z-index: 3;
}

.ruby {
  background-color: #AE6470;
}

.blueMist {
  background-color: #91AAC2;
}

.gulfBlue {
  background-color: #212D46;
}

.suedeGray {
  background-color: #CBBBC4;
}

@media (--mobile) {
  .tmpThumbnail {
    width: 45px;
    height: 60px;
    margin-bottom: 5px;
  }
}
