.container {
  margin: 200px 0;
}

.intro {
  grid-column: 2 / span 5;
  margin-bottom: 50px;
}

.bullet {
  padding: 0 130px 80px 0;
}

.bulletLeft {
  grid-column: 2 / span 3;
}

.bulletRight {
  grid-column: 5 / span 3;
}

.bulletTop {
  grid-row: 1;
}

.bulletBottom {
  grid-row: 2;
}

@media (--mobile) {
  .container {
    margin: 60px 0;
  }

  .intro {
    grid-column: 1 / span 7;
    margin-bottom: 15px;
  }

  .bullet {
    padding: 0;
    margin-bottom: 15px;
  }

  .bulletLeft.bulletTop {
    grid-row: 1;
    grid-column: 1 / span 7;
  }

  .bulletRight.bulletTop {
    grid-row: 2;
    grid-column: 1 / span 7;
  }

  .bulletLeft.bulletBottom {
    grid-row: 3;
    grid-column: 1 / span 7;
  }

  .bulletRight.bulletBottom {
    grid-row: 4;
    grid-column: 1 / span 7;
  }
}
