.container {
  margin-top: 60px;
}

.container h6 {
  color: var(--body-color);
}

.calculator {
  background-color: var(--aptible-black);
  margin-top: 20px;
  max-width: 720px;
  box-shadow: inset 0px -1px 0px rgba(38, 57, 65, 0.5);
}

.resource {
  padding: 30px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(38, 57, 65, 0.5);
}

.lineItemContainer {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 210px;
}

.lineItemDescription {
  position: relative;
  display: inline-block;
  background-color: var(--aptible-black);
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.managedHids {
  color: var(--white-fifty);
  font-weight: 400;
  cursor: pointer;
}

.managedHids:hover {
  color: white;
}

.managedHidsCheckbox {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid var(--white-fifty);
  margin: 0 7px -5px 0;
  cursor: pointer;
}

.managedHidsCheckbox img {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 15px;
  height: 15px;
}

.managedHids:hover .managedHidsCheckbox {
  border-color: white;
}

.lineItemAmount {
  color: var(--white-fifty);
  font-size: 12px;
  font-weight: 500;
  margin-top: 15px;
}

.lineItemAmount span {
  color: white;
}

.amount {
  text-align: right;
}

.amount h5 {
  color: var(--white-fifty);
}

.amount h5 span {
  color: white;
}

.hidsToggle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.hidsTooltipDesktop {
  margin-top: -6px;
}

.hidsLineItem {
  display: none;
}

.hidsToggleButtons {
  display: flex;
  width: 80%;
}

.hidsToggleButtons .toggleButtons {
  flex: 1;
  margin-top: 0;
}

.toggleButtons {
  display: flex;
  margin-top: 20px;
  max-width: 90%;
}

.toggleButtons button {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--grays4);
  color: var(--white-seventy);
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: 12px;
  font-weight: 500;
  height: 42px;
  justify-content: center;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.toggleButtons button:disabled {
  background-color: var(--aptible-green-thirty);
  border-color: var(--aptible-green);
  color: white;
}

.backupCosts {
  margin-top: 15px;
}

.estimatedMonthlyTotal {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  max-width: 660px;
  padding-left: 30px;
  padding-right: 30px;
}

.volumePricing {
  font-size: 14px;
  margin: 40px 0 0 30px;
}

@media (--mobile) {
  .calculator {
    background-color: transparent;
  }

  .resource {
    padding: 30px 0;
    box-shadow: inset 0px 1px 0px rgba(38, 57, 65, 0.5);
  }

  .lineItemContainer {
    grid-template-columns: 1fr;
  }

  .lineItemDescription {
    background-color: transparent;
    font-size: 14px;
    padding-right: 0;
  }

  .amount {
    margin-top: 15px;
    text-align: left;
  }

  .amount h5 {
    font-size: 24px;
    line-height: 30px;
  }

  .hidsToggle {
    align-items: flex-start;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .hidsTooltipDesktop {
    display: none;
  }
  
  .hidsLineItem {
    display: block;
    margin-top: 15px;
  }

  .hidsToggle .amount {
    margin-top: 0;
  }
  
  .hidsToggleButtons {
    margin-top: 20px;
    width: 100%;
  }
  
  .toggleButtons {
    max-width: 100%;
  }

  .estimatedMonthlyTotal {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
