.circle {
  display: inline-block;
  width: 115px;
  height: 115px;
  border-radius: 200px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--aptible-black-light);
  text-align: center;
}

.hover {
  background-color: var(--aptible-yellow);
  border-color: var(--aptible-yellow);
  height: auto;
  padding-bottom: 35px;
}

.arrowContainer {
  display: inline-block;
  margin: 38px 0 0 0px;
}

.circle.hover svg path {
  fill: var(--aptible-black);
}

.circle svg path {
  fill: var(--aptible-yellow);
}

.getStarted {
  display: none;
  width: 50px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  margin: 25px 0 0 -5px;
  color: var(--aptible-black);
}

.hover .getStarted {
  display: block;
}
