.hero {
  grid-row: 1;
  grid-column: 1 / span 7;
  text-align: center;
  padding: 45px 0 60px 0;
}

.product {
  position: relative;
  background-color: var(--aptible-black-light);
  background-size: 700px auto;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  padding-top: 200px;
  padding: 215px 85px 85px 85px;
  cursor: pointer;
  z-index: 1;
}

.expanded {
  cursor: auto;
  z-index: 2;
  margin-top: -45px;
  box-shadow: 0px 16px 60px rgba(0, 0, 0, 0.5);
}

.comply {
  grid-row: 2;
  grid-column: 1 / span 4;
  margin-right: 85px;
  background-image: url('../../images/illustrations/comply.png');
  background-position: -50px -180px;
}

.comply.expanded {
  margin-right: -400px;
}

.deploy {
  grid-row: 2;
  grid-column: 4 / span 4;
  margin-left: 85px;
  background-image: url('../../images/illustrations/deploy.png');
  background-position: -50px -250px;
}

.deploy.expanded {
  margin-left: -400px;
}

.title {
  max-width: 400px;
}

.button {
  float: right;
  width: 160px;
  margin-top: 60px;
  text-align: right;
}

.seeDetails {
  font-weight: 500;
  color: white;
}

.seeDetailsIcon {
  margin-right: 8px;
  margin-bottom: -3px;
}

.seeDetailsArrow {
  margin-left: 8px;
}

.complyFormContainer {
  /*  */
}

.complyFormContainer h2 {
  margin: 45px 0;
}

.complyForm {
  width: 400px;
}

.complyCta {
  margin-top: 45px;
}

.complySidebar {
  float: right;
  width: 375px;
  padding-top: 25px;
}

.deployLearnMore {
  margin: 100px 0;
}

.deployLearnMore a {
  text-decoration: none;
}

.deployLearnMore h3 {
  max-width: 600px;
}

.deployLearnMore p {
  color: var(--body-color);
  margin-top: 30px;
}

.learnMoreArrow {
  float: right;
  width: 120px;
  height: 120px;
  border: 1px solid var(--white-thirty);
  border-radius: 100px;
}

.deployLearnMore:hover .learnMoreArrow {
  border-color: var(--aptible-yellow);
  background-color: var(--aptible-yellow);
}

.learnMoreArrow svg {
  margin-top: 40px;
  margin-left: 40px;
}

.deployLearnMore:hover .learnMoreArrow svg path {
  fill: var(--aptible-black);
}

.deployAccountContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 700px;
}

.deployAccountType {
  /*  */
}

.deployAccountType h6 {
  color: var(--body-color);
  margin: 60px 0 15px 0;
}
