.hero {
  grid-row: 1;
  grid-column: 1 / span 7;
  text-align: center;
  padding: 45px 0 60px 0;
}

.product {
  position: relative;
  background-color: var(--aptible-black-light);
  background-size: 700px auto;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  padding-top: 200px;
  padding: 215px 85px 85px 85px;
  cursor: pointer;
  z-index: 1;
}

.expanded {
  cursor: auto;
  z-index: 2;
  margin-top: -45px;
  box-shadow: 0px 16px 60px rgba(0, 0, 0, 0.5);
}

.comply {
  grid-row: 2;
  grid-column: 1 / span 4;
  margin-right: 85px;
  background-image: url('../../images/illustrations/comply.png');
  background-position: -50px -180px;
}

.comply.expanded {
  margin-right: -400px;
}

.deploy {
  grid-row: 2;
  grid-column: 4 / span 4;
  margin-left: 85px;
  background-image: url('../../images/illustrations/deploy.png');
  background-position: -50px -250px;
}

.deploy.expanded {
  margin-left: -400px;
}

.title {
  max-width: 400px;
}

.details {
  margin: 60px 160px 0 0;
  min-height: 400px;
}

.details p {
  margin: 0;
}

.details h1 {
  margin-bottom: 5px;
}

p.startsAt {
  font-weight: 500;
  color: white;
  margin: 30px 0 10px 0;
}

.button {
  float: right;
  width: 160px;
  margin-top: 60px;
  text-align: right;
}

.seeDetails {
  font-weight: 500;
  color: white;
}

.seeDetailsIcon {
  margin-right: 8px;
  margin-bottom: -3px;
}

.seeDetailsArrow {
  margin-left: 8px;
}

.complyFormContainer {
  /*  */
}

.complyFormContainer h2 {
  margin: 45px 0;
}

.complyForm {
  width: 400px;
}

.complyCta {
  margin-top: 45px;
}

.complySidebar {
  float: right;
  width: 375px;
  padding-top: 25px;
}

.complySidebar ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.complySidebar li {
  background: url('../../images/signup/checkmark.svg') no-repeat left 15%;
  font-size: 16px;
  margin: 0;
  padding: 0 0 20px 45px;
}
