.container {
  margin: 60px 160px 0 0;
}

.title {
  font-weight: 500;
  color: white;
  margin: 30px 0 10px 0;
}

.amount {
  margin: 0;
}

@media (--mobile) {
  .container {
    margin: 15px 0 45px 0;
  }
}
