.slider {
  position: relative;
  width: 100%;
  height: 80px;
}

.rail {
  position: absolute;
  width: 100%;
  height: 5px;
  margin-top: 35px;
  border-radius: 1px;
  background-color: var(--aptible-green-ten);
  cursor: pointer;
}

.handle {
  position: absolute;
  margin-left: -7px;
  margin-right: 7px;
  margin-top: 32px;
  z-index: 2;
  width: 16px;
  height: 12px;
  border: 0px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  background-color: white;
  color: #333;
}

.track {
  position: absolute;
  height: 5px;
  z-index: 1px;
  margin-top: 35px;
  background-color: var(--aptible-green);
  border-radius: 1px;
  cursor: pointer;
}

.tick {
  position: absolute;
  margin-top: 45px;
  font-size: 10px;
  text-align: center;
  font-weight: 500;
}

.activeTick {
  color: white;
}

.blankTick {
  width: 2px;
  height: 2px;
  border-radius: 10px;
  background-color: var(--white-fifty);
  margin: 7px 0 0 20px;
}

@media (--mobile) {
  .handle {
    margin-left: -14px;
    margin-right: 14px;
    margin-top: 27px;
    width: 30px;
    height: 20px;
  }

  .tick {
    margin-top: 48px;
  }
}
