@value marginLg: 128px;
@value marginMd: 56px;
@value marginSm: 32px;
@value marginXs: 24px;

.marginBotSm {
  margin-bottom: marginSm;
}

.textCenter {
  text-align: center;
}

.inputGroup {
  width: 480px;
  background: rgba(0,0,0,0.75);
  border-radius: 8px;
  padding: 32px 32px 15px;
  margin-bottom: marginSm;
}

.headerText {
  margin-bottom: marginMd;
}

.headerSubText {
  margin: 0 auto marginMd;
  max-width: 800px;
}

.container {
  margin: marginMd auto;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout {
  background: url(/assets/radar.svg) no-repeat center 70px;
}

.logo {
  margin-bottom: marginMd;
  width: 150px;
  height: 35px;
  height: auto;
}

.testimonial {
  margin-top: marginMd;
  width: 954px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0;
}

.testimonialImage {
  margin: marginSm 0;
  width: 141px;
  height: auto;
}

.videoGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoText {
  margin-bottom: marginXs;
}

 .video {
  width: 100%;
  background: black;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.40), 0px 10px 10px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  overflow: hidden;
}

.footerCta {
  margin-top: marginMd;
  width: 954px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper {
  margin-bottom: 48px;
}

.signupFormWrapper {
  margin-bottom: 48px;
  width: 45%;
}

.signupFormWrapperBig {
  margin-bottom: 48px;
  width: 55%;
}

.meetingsFormWrapper {
  width: 720px;
}

@media (--mobile) {
  .inputGroup,
  .headerText,
  .headerSubText,
  .logo {
    margin-bottom: marginSm;
  }

  .testimonial {
    margin-top: marginMd;
  }

  .hbspt-form {
    width: 350px;
  }

  .container {
    margin: marginMd auto;
  }

  .footerCta {
    margin-top: marginMd;
  }

  .videoText,
  .headerSubText,
  .footerCta,
  .video,
  .testimonial,
  .inputGroup {
    width: 90%;
  }

  .meetingsFormWrapper {
    width: 100%;
  }

  .signupFormWrapper,
  .signupFormWrapperBig {
    width: 90%;
  }
}
