.container {
  margin-top: 60px;
}

.left {
  grid-row: 1;
  grid-column: 1 / span 4;
  padding-right: 85px;
}

.right {
  grid-row: 1;
  grid-column: 4 / span 4;
  padding-left: 85px;
}

@media (--mobile) {
  .container {
    margin-top: 30px;
  }

  .left {
    grid-row: 1;
    grid-column: 1 / span 7;
    padding-top: 0;
    padding-right: 0;
  }

  .right {
    grid-row: 2;
    grid-column: 1 / span 7;
    padding-left: 0;
  }
}
