.useCase {
  box-sizing: border-box;
  position: relative;
  width: 558px;
  max-width: 558px;
  background-color: var(--aptible-black-light);
  text-decoration: none;
  border-bottom: 4px solid var(--aptible-black-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.useCase {
  margin-right: 8px;
}

.background {
  height: 100%;
  width: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.content {
  margin-top: auto;
}

.useCase p {
  color: var(--white-seventy);
  font-size: 18px;
  margin-top: 50px;
  line-height: 1.44;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  margin-top: 34px;
  margin-bottom: 62px;
}

.button .arrow {
  margin-left: 2px;
}

.useCase:hover,
.useCase:active,
.useCase:focus {
  background: linear-gradient(360deg, var(--aptible-card-hover) 10%, var(--aptible-black) 80%);
  border-bottom-color: var(--aptible-yellow);
}

.bigArrow {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

.useCase:hover .bigArrow {
  display: block;
}

@media (--mobile) {
  .useCase {
    background-size: 250px auto;
    background-position: top center;
    width: 40vw;
    min-width: 272px;
  }

  .content {
    padding: 0 15px 30px;
  }

  .useCase h5 {
    margin-bottom: 4px;
  }

  .useCase p {
    font-size: 14px;
    margin-top: 20px;
    max-width: 90%;
  }

  .button {
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .button > div {
    font-size: 1em;
  }

  .bigArrow {
    display: block;
  }
}
