.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  gap: 8px;
}

.card {
  background-color: var(--aptible-black-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--white-seventy);
  font-weight: 500;
  padding: 40px 24px 24px;
}

.image {
  display: block;
}

.name {
  margin-top: 15px;
}
