.arrow {
  position: absolute;
  top: 80px;
  right: 108px;
  z-index: 1;
}

.arrowStroke {
  stroke-dasharray: 740;
  stroke-dashoffset: 740;
  animation: dash 5s cubic-bezier(0, 1.2, 0.3, 0.9) forwards;
  animation-delay: 0.4s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media (--mobile) {
  .arrow {
    top: -44px;
    left: 165px;
  }

  .arrow svg {
    width: 160px;
  }
}
