.contentArea {
  padding: 20px 0;
  grid-row: 1;
  grid-column: 2 / span 4;
  z-index: 2;
}

.contentArea h1 {
  font-size: 120px;
  line-height: 116px;
  margin-left: -5px;
}

.contentArea p {
  font-size: 18px;
  line-height: 1.5;
}

.cta {
  grid-row: 2;
  grid-column: 2;
  margin-bottom: 180px;
}

.callout {
  grid-row: 2;
  grid-column: 4 / span 2;
  padding-top: 10px;
}
