.arrow {
  position: absolute;
  top: 103px;
  right: 15px;
  z-index: 1;
}

.arrowStroke {
  stroke-dasharray: 260;
  stroke-dashoffset: 260;
  animation: dash 3s cubic-bezier(0, 1.2, 0.3, 0.9) forwards;
  animation-delay: 0.6s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media (--mobile) {
  .arrow {
    top: 22px;
    left: 170px;
  }

  .arrow svg {
    width: 80px;
  }
}
