.logos {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr auto;
  margin-bottom: 175px;
}

.logo {
  text-align: center;
}

.logo img {
  height: 30px;
}

.logo:first-child {
  margin-right: 60px;
}

.logo:last-child {
  margin-left: 35px;
}

@media (--mobile) {
  .logos {
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 60px;
  }

  .logo {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .logo img {
    height: auto;
    width: 80%;
    vertical-align: middle;
  }

  .logo:first-child {
    margin-right: 0;
  }

  .logo:nth-child(-1n + 3) {
    grid-column: span 4;
  }

  .logo:nth-last-child(2) {
    grid-row: 2;
    grid-column: 3 / span 4;
  }

  .logo:nth-last-child(1) {
    grid-row: 2;
    grid-column: 7 / span 4;
    margin-left: 0;
  }
}
