.productSelector {
  position: relative;
  height: 425px;
  overflow-x: scroll;
}

.productSelector::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.carouselContainer {
  position: absolute;
  display: flex;
  -webkit-overflow-scrolling: touch;
  padding: 0 280px;
}

.product {
  position: relative;
  width: 796px;
  padding: 130px 80px;
  margin-right: 8px;
  background-color: var(--aptible-black-light);
  text-decoration: none;
  background-size: 800px;
  background-position: 420px -190px;
  background-repeat: no-repeat;
  border-bottom: 4px solid var(--aptible-black-light);
}

.product h2 {
  max-width: 600px;
}

.product h5 {
  margin-bottom: 20px;
}

.product:hover {
  background-color: #1D2C3B;
  border-bottom-color: var(--aptible-yellow);
}

.productArrow {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

.product:hover .productArrow {
  display: block;
}

.comply {
  background-image: url('../../images/illustrations/comply.png');
}

.deploy {
  background-image: url('../../images/illustrations/deploy.png');
}

.circles {
  margin-top: -15px;
  margin-bottom: 150px;
  vertical-align: top;
}

.circle {
  display: inline-block;
  top: 14px;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background-color: var(--aptible-green);
  margin-right: 4px;
  cursor: pointer;
}
