.carouselContainer {
  position: absolute;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.product {
  flex-shrink: 0;
  width: 955px;
  padding: 75px;
  margin-right: 5px;
  background-color: var(--aptible-black-light);
}
