.productSelector {
  position: relative;
  height: 300px;
  margin-bottom: 250px;
}

.carouselContainer {
  position: absolute;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.product {
  position: relative;
  width: 796px;
  padding: 130px 80px;
  margin-right: 8px;
  background-color: var(--aptible-black-light);
  text-decoration: none;
  background-size: 800px;
  background-position: 420px -190px;
  background-repeat: no-repeat;
}

.product h2 {
  max-width: 600px;
}

.product h5 {
  margin-bottom: 20px;
}

.product:hover {
  background-color: #1D2C3B;
  border-bottom: 4px solid var(--aptible-yellow);
}

.productArrow {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

.product:hover .productArrow {
  display: block;
}

.comply {
  background-image: url('../../images/illustrations/comply.png');
}

.deploy {
  background-image: url('../../images/illustrations/deploy.png');
}
