.container {
  overflow: hidden;
  margin-bottom: 24px;
}

.productSelector {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.carouselContainer {
  position: absolute;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  height: 100%;
}

.item {
  width: 100%;
  height: 100%;
}

.product {
  box-sizing: border-box;
  position: relative;
  width: 880px;
  padding: 110px 180px 77px 80px;
  background-color: var(--aptible-black-light);
  text-decoration: none;
  background-size: 800px;
  background-position: 420px -190px;
  background-repeat: no-repeat;
  border-bottom: 4px solid var(--aptible-black-light);
  display: block;
  height: 100%;
}

.product {
  margin-right: 8px;
}

.comply {
  background-image: url('../../images/illustrations/comply.png');
}

.deploy {
  background-image: url('../../images/illustrations/deploy.png');
}

.product h5 {
  margin-bottom: 10px;
}

.product p {
  color: var(--white-seventy);
  font-size: 20px;
  line-height: 1.44;
}

.button {
  margin-top: 40px;
}

.button .arrow {
  margin-left: 2px;
}

.product:hover,
.product:active,
.product:focus {
  background-color: var(--aptible-card-hover);
  border-bottom-color: var(--aptible-yellow);
}

.productArrow {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

.product:hover .productArrow {
  display: block;
}

.circles {
  width: 100%;
  display: flex;
  align-items: center;
}

.circle {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: var(--aptible-green-thirty);
  cursor: pointer;
}

.circle + .circle {
  margin-left: 4px;
}

.active {
  background-color: var(--aptible-green);
}

@media (--mobile) {
  .item:first-child {
    margin-left: 24px;
  }

  .item:last-child {
    margin-right: 16px;
  }

  .product {
    background-size: 500px;
    background-position: 290px -120px;
    padding: 40px;
    width: 85vw;
    max-width: 640px;
    min-width: 272px;
    display: flex;
    flex-direction: column;
  }

  .product h5 {
    margin-bottom: 4px;
  }

  .product p {
    font-size: 16px;
    max-width: 70%;
  }

  .button {
    font-size: 12px;
    margin-top: auto;
  }

  .button > div {
    font-size: 1em;
  }

  .productArrow {
    display: block;
  }
}

@media (max-width: 499px) {
  .product p {
    max-width: 100%;
  }
}
