.container {
  position: relative;
}

.links {
  position: relative;
  z-index: 2;
  grid-row: 1;
  grid-column: 3 / span 2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.link {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.link a {
  color: var(--body-color);
  text-decoration: none;
}

.link a:hover,
.link a:active,
.link a:focus {
  color: white;
}

.calloutContainer {
  grid-column: 5 / span 2;
  grid-row: 1;
}

.callout {
  border: 1px solid rgba(255, 255, 255, .2);
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  right: -70px;
  text-decoration: none;
}

.callout:hover,
.callout:active,
.callout:focus {
  background-color: var(--aptible-black-twenty);
}

.callout:hover .arrow,
.callout:active .arrow,
.callout:focus .arrow {
  display: block;
}

.callout img {
  display: block;
  height: auto;
  width: 100%;
}

.calloutText {
  padding: 34px 38px 38px 26px;
  margin-top: auto;
}

.calloutText h5 {
  display: flex;
  align-items: center;
}

.calloutText .arrow {
  display: none;
  color: var(--white-fifty);
  font-size: .8em;
  margin-left: 12px;
}

.calloutText p {
  color: var(--body-color);
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 0;
}
