.headerContainer {
  position: relative;
  z-index: 10;
  height: 192px;
}

.header {
  padding: 75px 0;
}

.navOverlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--aptible-black-seventy);
}

.headerContainer.open .header {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(168.29deg, rgba(255, 255, 255, 0.04) 7.84%, rgba(255, 255, 255, 0.032) 83.16%), #0A1B2B;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05), inset 0px -1px 0px rgba(38, 57, 65, 0.5), inset 0px 1px 0px rgba(38, 57, 65, 0.5);
  overflow: hidden;
}

.headerContainer.open .navOverlay {
  display: block;
}

.navRow {
  grid-column: 1 / span 7;
  display: flex;
  flex-direction: row;
}

.navItems {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.logo {
  width: 160px;
  margin-right: 160px;
}

.logo img {
  display: block;
  width: 100%;
}

.mobileNav {
  display: none;
}

.cta {
  position: absolute;
  right: 0;
  top: -48px;
  display: flex;
}

.ctaLogIn {
  margin-right: 16px;
  grid-column: 7;
  justify-self: flex-end;
}

.ctaSignUp {
  grid-column: -1;
}

@media (--mobile) {
  .headerContainer {
    height: auto;
  }

  .header {
    padding: 30px 0 0 0;
  }

  .logo {
    margin-right: 0;
    width: 160px;
  }

  .mobileNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
  }

  .cta {
    display: none;
  }
}
