.headerContainer {
  position: relative;
  z-index: 10;
}

.headerContainer.open {
  height: 192px;
}

.header {
  padding: 75px 0;
}

.navOverlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--aptible-black-seventy);
}

.headerContainer.open .header {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(168.29deg, rgba(255, 255, 255, 0.04) 7.84%, rgba(255, 255, 255, 0.032) 83.16%), #0A1B2B;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05), inset 0px -1px 0px rgba(38, 57, 65, 0.5), inset 0px 1px 0px rgba(38, 57, 65, 0.5);
  overflow: hidden;
}

.headerContainer.open .navOverlay {
  display: block;
}

.logo {
  grid-column: 1;
}

.logo img {
  width: 100%;
}

.mobileNav {
  display: none;
  grid-row: 1;
  grid-column: 6 / span 2;
}

.cta {
  position: absolute;
  right: 0;
  top: -48px;
  display: flex;
}

.ctaLogIn {
  margin-right: 32px;
  grid-column: 7;
  justify-self: flex-end;
}

.ctaSignUp {
  margin-right: 90px;
  grid-column: -1;
}

@media (--mobile) {
  .headerContainer.open {
    height: 56px;
  }

  .header {
    padding: 30px 0 0 0;
  }

  .logo {
    grid-column: 1 / span 2;
  }

  .mobileNav {
    display: block;
  }

  .cta {
    display: none;
  }
}
