.headerContainer {
  position: relative;
  z-index: 10;
}

.headerContainer.open {
  height: 222px;
}

.header {
  padding: 75px 0;
}

.headerContainer.open .header {
  background-color: var(--aptible-black-light);
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--grid-lines-color);
}

.logo {
  grid-column: 1;
}

.logo img {
  width: 100%;
}
