.container {
  /*  */
}

.mainItems {
  grid-row: 1;
  grid-column: 1 / span 7;
  padding: 30px 0;
  border-bottom: 1px solid var(--white-fifty);
}

.mainItems a {
  display: block;
  text-decoration: none;
  padding: 8px 0;
}

.resources {
  grid-row: 2;
  grid-column: 1 / span 7;
  padding: 30px 0;
}

.login {
  grid-row: 3;
  grid-column: 1 / span 7;
  padding:15px 0 60px 0;
}
