.container {
  position: relative;
}

.links {
  position: relative;
  z-index: 2;
  grid-row: 1;
  grid-column: 3 / span 4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  width: calc(100% + 60px);
}

.links a {
  text-decoration: none;
}

.links h3 {
  margin-bottom: 20px;
  line-height: 48px;
}

.links h3 a {
  color: white; 
  display: inline-flex;
  align-items: center;
}

.arrow {
  display: none;
  color: var(--white-fifty);
  font-size: .7em;
  margin-left: 12px;
  top: 2px;
  position: relative;
}

.links h3 a:hover .arrow,
.links h3 a:active .arrow,
.links h3 a:focus .arrow {
  display: block;
}

.section {
  width: 50%;
}

.section p {
  color: var(--body-color);
  font-size: 16px;
  line-height: 1.44;
  margin-bottom: 40px;
}

.childLink {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.childLink a {
  color: var(--body-color);
  display: inline-block;
}

.childLink a:hover,
.childLink a:active,
.childLink a:focus {
  color: white;
}
