.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container a {
  display: block;
  color: var(--body-color);
  font-weight: 500;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container a:hover,
.container a:active,
.container a:focus {
  color: white;
}

.container h6 {
  margin-top: 45px;
  color: var(--white-fifty);
}

.column:first-of-type {
  grid-column: 1;
}

.column:last-of-type {
  grid-column: 2;
  padding-left: 20px;
}
