.container {
  position: relative;
}

.links {
  position: relative;
  z-index: 2;
  grid-row: 1;
  grid-column: 3 / -1;
  padding-top: 40px;
  padding-bottom: 40px;
}

.link {
  margin-top: 20px;
  margin-bottom: 20px;
}

.link a {
  color: var(--body-color);
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  display: inline-block;
}

.link:hover > a,
.link a:hover,
.link a:active,
.link a:focus {
  color: white;
}

.body {
  display: none;
  position: absolute;
  width: 280px;
  top: 60px;
  right: 40px;
}

.link:hover > .body {
  display: block;
}

.body p {
  color: var(--body-color);
  font-size: 18px;
  line-height: 1.44;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: normal;
}
