.container {
  position: relative;
}

.links {
  position: relative;
  z-index: 2;
  grid-row: 1;
  grid-column: 4 / -1;
  padding: 40px 0;
}

.links a {
  text-decoration: none;
}

.links a div {
  color: var(--body-color);
  font-size: 18px;
  line-height: 2;
  margin-bottom: 8px;
}

.links a:hover div {
  color: white;
}
