.container {
  padding-top: 85px;
  width: 100%;
  overflow: hidden;
}

.text {
  grid-column: 1 / span 4;
}

.text h5 {
  margin-bottom: 2.5em;
}

.text p {
  padding-right: 80px;
}

.button {
  margin-top: 80px;
}

.background {
  position: absolute;
  width: 100%;
  height: auto;
  top: 192px;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.image {
  display: block;
  height: 100%;
  position: relative;
}

.audits {
  width: 606px;
  top: 260px;
  right: 0;
}

.compliance {
  width: 1168px;
  top: 140px;
  right: -220px;
}

.source {
  width: 1470px;
  top: -280px;
  right: -450px;
}

.vendors {
  width: 587px;
  top: 260px;
  right: 0;
}

.trust {
  width: 1440px;
  top: 260px;
  right: 0;
}

@media (--mobile) {
  .text {
    grid-row: 1;
    grid-column: 1 / -1;
    max-width: 50%;
  }

  .text p {
    padding-right: 0;
  }

  .button {
    margin-top: 40px;
  }

  .audits {
    width: 400px;
    top: 85px;
  }
  
  .compliance {
    width: 560px;
    top: 0;
    right: -50px;
  }
  
  .source {
    width: 790px;
    top: -300px;
    right: -200px;
  }
  
  .vendors {
    width: 380px;
    top: 85px;
  }
  
  .trust {
    width: 800px;
    top: 130px;
    right: 0;
  }
}

@media (max-width: 799px) {
  .source {
    width: 500px;
    top: -150px;
    right: -150px;
  }

  .compliance {
    right: -100px;
  }

  .audits {
    right: -100px;
  }

  .vendors {
    right: -100px;
  }

  .trust {
    right: -100px;
  }
}

@media (max-width: 569px) {
  .text {
    max-width: 100%;
  }

  .background {
    display: none;
  }
}
