.container {
  margin: 100px 0;
}

.quote {
  grid-row: 1;
  grid-column: 2 / span 4;
  z-index: 3;
}

.quote.withImage {
  grid-column: 2 / span 3;
}

.quote h3 {
  position: relative;
  margin-right: 45px;
}

.quote h3 .quoteStart {
  position: absolute;
  left: -18px;
}

.logo {
  margin: 80px 0 15px 0;
  height: 30px;
}

.author {
  margin-top: 45px;
  font-size: 16px;
}

.image {
  grid-row: 1;
  grid-column: 5 / span 3;
  z-index: 2;
}

.image img {
  width: 100%;
  margin-top: 80px;
}

.placeholderImage {
  width: 100%;
  height: 610px;
  background-color: #CBBBC4;
}

@media (--mobile) {
  .container {
    margin: 100px 0 30px 0;
  }

  .quote h3 {
    margin-right: 20px;
  }

  .quote {
    grid-row: 2;
    grid-column: 1 / span 7;
  }

  .quote h3 .quoteStart {
    left: -10px;
  }

  .logo {
    margin-top: 30px;
  }

  .image {
    grid-row: 1;
    grid-column: 1 / span 7;
  }

  .placeholderImage {
    height: 400px;
  }
}
