.container {
  margin: 100px 0;
}

.quote {
  grid-row: 1;
  grid-column: 2 / span 3;
  z-index: 3;
}

.quote h2 {
  position: relative;
}

.quote h2 .quoteStart {
  position: absolute;
  left: -18px;
}

.logo {
  margin: 80px 0 15px 0;
}

.author {
  margin-top: 45px;
  font-size: 16px;
}

.image {
  grid-row: 1;
  grid-column: 4 / span 3;
  z-index: 2;
}

.placeholderImage {
  width: 100%;
  height: 610px;
  background-color: #CBBBC4;
}
