.footer {
  background-color: white;
  position: relative;
  z-index: 1;
  color: var(--aptible-black);
  padding: 150px 0;
}

.footer h6 {
  color: var(--aptible-black);
  margin-bottom: 25px;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: var(--aptible-black);
}

.footer a h3 {
  color: var(--aptible-black-half);
  line-height: 48px;
  margin-bottom: 15px;
}

.footer a:hover h3 {
  color: var(--aptible-black);
}

.products {
  grid-row: 1;
  grid-column: 1;
}

.useCases {
  grid-row: 1;
  grid-column: 2 / span 2;
}

.resources {
  grid-row: 1;
  grid-column: 4 / span 2;
}

.support {
  grid-row: 1;
  grid-column: 5 / span 2;
  margin-left: 80px;
}

.company {
  grid-row: 1;
  grid-column: 7;
}

.useCases a,
.resources a,
.company a,
.support a {
  display: block;
  color: var(--aptible-black-half);
  font-size: 16px;
  line-height: 48px;
}

.newsletter {
  grid-row: 2;
  grid-column: 3 / span 3;
  margin: 75px 0;
}

.newsletter h5 {
  color: var(--aptible-black);
}

.newsletter p {
  color: var(--aptible-black-seventy);
}

.newsletterForm {
  grid-row: 2;
  grid-column: 6 / span 2;
  margin-top: 115px;
}

.social {
  grid-row: 3;
  grid-column: 1;
  margin-top: -2px;
}

.social a {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
}

.links {
  grid-row: 3;
  grid-column: 3 / span 4;
}

.links a {
  display: inline-block;
  margin-right: 50px;
}

.links a h6 {
  color: var(--aptible-black-half);
  letter-spacing: 0.03em;
}

.links a:hover h6 {
  color: var(--aptible-black);
}

.copyright {
  grid-row: 3;
  grid-column: 7;
  text-align: right;
  font-weight: 500;
  color: var(--aptible-black-half);
}

.copyright > div {
  margin-top: 4px;
  font-size: 16px;
}

.address {
  font-size: 12px;
  margin-top: 5px;
}

@media (--mobile) {
  .footer {
    padding: 45px 0 30px 0;
  }

  .footer h6 {
    margin-bottom: 15px;
  }

  .footer a h3 {
    font-size: 24px;
    line-height: 2;
    margin-bottom: 0;
  }

  .products {
    grid-row: 1;
    grid-column: 1 / span 3;
    margin-bottom: 60px;
  }

  .useCases {
    grid-row: 2;
    grid-column: 5 / span 3;
    margin-left: 0;
  }

  .resources {
    grid-row: 3;
    grid-column: 1 / span 3;
  }

  .support {
    grid-row: 2;
    grid-column: 1 / span 3;
    margin-left: 0;
  }

  .company {
    grid-row: 1;
    grid-column: 5 / span 3;
  }

  .useCases a,
  .resources a,
  .company a,
  .support a {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .newsletter {
    grid-row: 4;
    grid-column: 1 / span 7;
    margin: 45px 0 0 0;
  }

  .newsletterForm {
    grid-row: 5;
    grid-column: 1 / span 7;
    margin: 5px 0 60px 0;
  }

  .social {
    grid-row: 6;
    grid-column: 1 / span 7;
    text-align: center;
    margin-bottom: 15px;
  }

  .links {
    grid-row: 7;
    grid-column: 1 / span 7;
    text-align: center;
  }

  .links a {
    margin: 0 10px;
  }

  .copyright {
    grid-row: 8;
    grid-column: 1 / span 7;
    text-align: center;
  }
}
