.zero {
  background-color: var(--aptible-yellow);
  padding: 100px 0;
  position: relative;
  z-index: 1;
}

.zeroTo {
  grid-row: 1;
  grid-column: 2 / span 5;
  text-align: center;
  margin-bottom: 75px;
}

.zeroTo h1 {
  color: var(--aptible-black);
}

.start {
  grid-row: 2;
  grid-column: 2 / span 4;
  padding-top: 10px;
}

.start h4 {
  color: var(--aptible-black);
  padding-right: 80px;
}

.button {
  grid-row: 2;
  grid-column: 6;
}

.zeroToMobile {
  display: none;
  text-align: center;
}

@media (--mobile) {
  .zero {
    padding: 60px 0;
  }

  .zeroTo {
    grid-row: 1;
    grid-column: 1 / -1;
    margin-bottom: 0;
  }

  .start {
    grid-row: 2;
    grid-column: 1 / -1;
    margin: 15px 0;
    text-align: center;
  }

  .start h4 {
    padding-right: 0;
  }

  .button {
    grid-row: 3;
    grid-column: 1 / -1;
    justify-self: center;
  }
}
