.container {
  padding: 30px 0 200px 0;
}

.container h5 a {
  text-decoration: none;
}

.container h5 a:hover {
  text-decoration: underline;
  text-decoration-color: var(--aptible-green);
}

.authorPhoto {
  grid-column: 1;
}

.authorPhoto img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-top: 170px;
}

.content {
  grid-column: 2 / span 6;
}

.metaContainer {
  margin: 80px 0 45px 0;
}

.share {
  padding: 40px 0;
}

.body {
  max-width: 640px;
}

.body h2:not(:first-child),
.body h3:not(:first-child),
.body h4:not(:first-child),
.body h5:not(:first-child) {
  margin: 60px 0 30px 0;
}

.body p {
  line-height: 1.6;
}

@media (--mobile) {
  .authorPhoto {
    display: none;
  }

  .content {
    grid-column: 1 / span 7;
  }
}
