.container {
  margin-bottom: 90px;
  margin-top: 30px;
  text-align: center;
}

.content {
  grid-column: 1 / -1;
}

.content p {
  margin-top: 60px;
}

@media (--mobile) {
  .container {
    margin-bottom: 30px;
  }

  .content {
    grid-column: 1 / -1;
  }

  .content p {
    margin-top: 30px;
  }
}
