.container {
  margin-bottom: 200px;
  margin-top: 60px;
}

.navigation {
  padding-bottom: 45px;
  padding-top: 20px;
  padding-left: 160px;
}

.navigation h6 {
  color: #a1a1a1;
  margin-bottom: 40px;
}

.navigation button {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  line-height: 3;
  display: block;
  background-color: transparent;
  border: 0;
  color: var(--white-fifty);
  padding: 0;
}

.navigation button:hover,
.navigation button:focus,
.navigation button:active,
.navigation button.active {
  color: white;
}

.navigation button:focus {
  outline: none;
}

.navigation button.active::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: -12px;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--aptible-green);
}

.left {
  grid-row: 1;
  grid-column: 1 / span 4;
  padding-right: 85px;
}

.right {
  grid-row: 1;
  grid-column: 4 / span 4;
  padding-left: 85px;
}

@media (--mobile) {
  .container {
    margin-top: 30px;
  }

  .left {
    grid-row: 1;
    grid-column-end: -1;
    padding-top: 0;
    padding-right: 0;
  }

  .right {
    grid-row: 2;
    grid-column: 1 / -1;
    padding-left: 0;
  }

  .navigation {
    padding-left: 0;
  }

  .navigation h6 {
    margin-bottom: 20px;
  }

  .navigation button {
    font-size: 14px;
  }
}
