.console {
  width: 560px;
  height: 360px;
  background-color: var(--aptible-green-dark);
  box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.taskbar {
  padding: 8px 20px;
}

.button {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  margin-right: 10px;
  background-color: white;
}

.close {
  background-color: #f06262;
}

.minimize {
  background-color: #fdb515;
}

.expand {
  background-color: #33c69f;
}

.content {
  font-size: 12px;
  font-family: Courier, monospace;
  padding: 0 20px 15px 20px;
}

.content pre {
  color: #cfd5d7;
}

.line {
  word-wrap: break-word;
}

.prompt {
  display: inline-block;
  margin-right: 8px;
  color: #6e8087;
}

.input {
  display: inline-block;
  color: #cfd5d7;
}

.inputChar {
  opacity: 0;
  transition: opacity 0s linear;
}

.typed .inputChar {
  opacity: 1;
}

.output {
  display: inline-block;
  color: #6e8087;
}
