.container {
  margin: 100px 0;
}

.hero {
  grid-row: 1;
  grid-column: 2 / span 5;
  margin-bottom: 60px;
}

.providedBy {
  grid-column: 1 / span 7;
  border-top: 1px solid var(--white-fifty);
  padding: 30px 0 0 0;
}

.provider {
  float: left;
}

.provider h4 {
  color: var(--aptible-yellow);
}

.featureGrid {
  margin-left: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feature {
  color: white;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
}

@media (--mobile) {
  .container {
    margin: 30px 0;
  }

  .hero {
    grid-column: 1 / span 7;
  }

  .providedBy {
    padding: 20px 0;
    margin-bottom: 30px;
  }

  .provider {
    float: none;
    margin-bottom: 20px;
  }

  .featureGrid {
    margin-left: 0;
    grid-gap: 10px;
  }

  .feature {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
