.container {
  background:
    no-repeat -700px 100px/1000px url('../../images/illustrations/deploy.png'),
    no-repeat 1200px -150px/1000px url('../../images/illustrations/deploy.png'); 
}

.content {
  grid-column: 1 / span 7;
  text-align: center;
  padding: 60px 0 150px 0;
}

.content h1 {
  margin-bottom: 60px;
}

.content h5 {
  margin-bottom: 15px;
}

@media (--mobile) {
  .container {
    background: none;
  }

  .content {
    text-align: left;
    padding: 30px 0;
  }
}
