.container {
  padding: 0 0 50px 0;
}

.intro {
  margin-bottom: 100px;
}

.content {
  grid-column: 2 / span 4;
}

.intro h1 {
  margin: 30px 0;
}

.intro p {
  max-width: 550px;
}

.features {
  /*  */
}

.sidebar {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.sidebar h4 {
  position: relative;
  color: var(--white-fifty);
  cursor: pointer;
  margin-bottom: 45px;
}

.sidebar h4:hover {
  color: white;
}

.sidebar h4.active {
  color: white;
}

.circle {
  display: none;
  position: absolute;
  top: 13px;
  left: -20px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: var(--aptible-green);
}

.sidebar h4.active .circle {
  display: block;
}

.feature {
  grid-row: 1;
  grid-column: 3 / span 5;
  margin-left: 80px;
  padding: 80px;
  background: linear-gradient(168.29deg, rgba(255, 255, 255, 0.04) 7.84%, rgba(255, 255, 255, 0.032) 83.16%), #0A1B2B;
}

.featureTitle {
  margin-bottom: 15px;
}

.featureTitle h6 {
  color: var(--body-color);
}

.feature h5 {
  margin-bottom: 45px;
}

.featureBullet {
  position: relative;
  margin: 0 0 30px 45px;
}

.featureIcon {
  position: absolute;
  top: 0;
  left: -45px;
}

.images {
  padding: 0 0 100px 0;
}

.screenshot {
  grid-row: 1;
  grid-column: 1 / span 5;
  position: relative;
  z-index: 1;
  margin-right: 100px;
}

.screenshot img {
  width: 100%;
}

.console {
  grid-row: 1;
  grid-column: 4 / span 4;
  position: relative;
  z-index: 2;
  margin: 50px -43px 0 40px;
}

.console img {
  width: 100%;
}

@media (--mobile) {
  .intro {
    margin-bottom: 30px;
  }

  .content {
    grid-column: 1 / span 7;
  }

  .sidebar {
    grid-row: 1;
    grid-column: 1 / span 7;
  }

  .sidebar h4 {
    margin-bottom: 15px;
  }

  .circle {
    top: 8px;
  }

  .feature {
    grid-row: 2;
    grid-column: 1 / span 7;
    margin-left: 0;
    margin-top: 15px;
    padding: 30px;
  }

  .featureBullet {
    position: relative;
    margin: 0 0 30px 0;
  }

  .featureIcon {
    position: relative;
    left: 0;
    margin-bottom: 5px;
  }

  .images {
    padding: 45px 0;
  }

  .screenshot {
    grid-row: 1;
    grid-column: 1 / span 7;
    margin-right: 0;
  }

  .console {
    margin: 120px -33px 0 40px;
  }
}
