.container {
}

.content {
  text-align: center;
  grid-column: 1 / span 7;
  padding: 60px 0 120px 0;
}

.content h1 {
  margin-bottom: 60px;
}

.content h5 {
  margin-bottom: 15px;
}

.descriptionContainer {
  width: calc(100%*11/13);
  margin: 0 auto;
}

.leadFormContainer {
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  width: calc(100%*7/13);
}

@media (--mobile) {
  .content {
    text-align: left;
    padding: 30px 0;
  }

  .content h1 {
    margin-bottom: 24px;
  }

  .descriptionContainer {
    width: 100%;
  }

  .leadFormContainer {
    margin-top: 24px;
    width: 100%;
  }
}
