.container {
  padding: 30px 0 100px 0;
  background-image: url('../../images/illustrations/deploy.png');
  background-size: 900px auto;
  background-repeat: no-repeat;
  background-position: 90% 350px;
}

.content {
  grid-row: 1;
  grid-column: 1 / span 5;
}

.content h5 {
  margin-bottom: 30px;
}

.content p {
  padding: 20px 0;
  max-width: 600px;
}

.consoleContainer {
  grid-row: 2;
  grid-column: 1 / span 4;
  margin-top: 120px;
}

@media (--mobile) {
  .container {
    background: none;
  }

  .content {
    grid-row: 1;
    grid-column: 1 / span 7;
    padding-bottom: 30px;
  }

  .content h5 {
    margin-bottom: 15px;
  }

  .content p {
    padding: 0 0 20px 0;
  }

  .consoleContainer {
    display: none;
  }
}
