.container {
  padding: 64px 0 200px 0;
}

.mobileHero {
  display: none;
}

.content {
  grid-row: 1;
  grid-column: 1 / span 4;
}

.signUpYourself {
  margin-top: 32px;
}

.heroItem {
  margin-bottom: 48px
}

.content h5 {
  margin-bottom: 30px;
}

.content p {
  padding: 0;
  margin: 0;
}

.illustration {
  grid-row: 1 / span 2;
  grid-column: 5 / span 3;
  position: relative;
}

.consoleContainer {
  grid-row: 2;
  grid-column: 1 / span 4;
  margin-top: 120px;
}

.compliancePills {
  display: flex;
  flex-direction: row;
}

.compliancePillBadge {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.compliancePill {
  display: flex;
  margin-right: 12px;
  flex-direction: row;
  align-items: center;
  background-color: var(--aptible-green-ten);
  border-radius: 14px;
  height: 28px;
  padding: 0px 16px 0px 12px;
}

.compliancePill > h6 {
  color: var(--aptible-green);
}

.containerMeticsDashboard {
  height: 920px;
  width:800px;
  position: absolute;
  left: -40px;
  top: -160px;
}

.containerDeploymentConsole {
  position: absolute;
  top:800px;
  top: 460px;
  left: -152px;
}

.leadFormWrapper {
  width: 480px;
}

@media (--mobile) {
  .container {
    background: none;
    padding: 0;
    margin: 48px 0;
  }

  .compliancePills {
    display: none
  }

  .mobileHero {
    display: block;
  }

  .heroItem {
    margin-bottom: 24px
  }

  .containerMeticsDashboard {
    display: none;
  }

  .content {
    grid-row: 1;
    grid-column: 1 / span 7;
    padding-bottom: 0;
  }

  .content h5 {
    margin-bottom: 15px;
  }

  .content p {
    padding: 0 0 20px 0;
  }

  .consoleContainer {
    display: none;
  }

  .illustration {
    display: none;
  }
}



