.container {
  margin: 60px 0 150px 0;
}

.intro {
  grid-row: 1;
  grid-column: 2 / span 4;
  margin-bottom: 45px;
}

.intro p {
  margin-right: 160px;
}

.bullets {
  grid-row: 2;
  grid-column: 1 / span 4;
}

.bullet {
  position: relative;
  margin: 0 80px 30px 160px;
}

.bulletIcon {
  position: absolute;
  left: -160px;
  width: 160px;
  text-align: center;
}

.eventsContainer {
  grid-row: 2;
  grid-column: 5 / span 3;
}

.events {
  background-color: var(--aptible-black-light);
  padding: 80px;
}

.events h5 {
  margin-bottom: 45px;
}

@media (--mobile) {
  .container {
    margin: 30px 0;
  }

  .intro {
    grid-column: 1 / span 7;
  }

  .intro p {
    margin: 15px 0 0 0;
  }

  .bullets {
    grid-row: 2;
    grid-column: 1 / span 7;
  }

  .bullet {
    margin: 15px 0 45px 0;
  }

  .bulletIcon {
    position: relative;
    left: 0;
    width: auto;
    text-align: left;
    margin-bottom: 10px;
  }

  .eventsContainer {
    grid-row: 3;
    grid-column: 1 / span 7;
  }

  .events {
    padding: 40px;
  }
}
