.container {
  margin-bottom: 196px;
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.step {
  padding: 48px 32px 48px 0;
  border-top: 1px solid var(--aptible-green-dark);
  box-sizing: border-box;
  width: 33%;
}

.stepId {
  color: var(--aptible-yellow);
}

.stepTitle {
  color: white;
}

.stepRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro {
  width: 33%;
  margin-bottom: 48px;
}

@media (--mobile) {
  .container {
    width: 100%;
    margin: 48px 24px; 
  }

  .intro {
    width: 100%;
    margin-bottom: 16px;
  }

  .stepRow {
    flex-direction: column;
  }

  .step {
    padding: 16px 16px 16px 0;
    width: 100%;
  }
}