.intro {
  grid-row: 1;
  grid-column: 2 / span 3;
  margin-bottom: 60px;
}

.step {
  display: grid;
  grid-template-columns: 60px 200px auto;
  margin-bottom: 8px;
  padding: 70px;
  background: linear-gradient(168.29deg, rgba(255, 255, 255, 0.04) 7.84%, rgba(255, 255, 255, 0.032) 83.16%), #0A1B2B;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05), inset 0px -1px 0px rgba(38, 57, 65, 0.5), inset 0px 1px 0px rgba(38, 57, 65, 0.5);
}

.number {
  color: var(--aptible-yellow);
}

.step p {
  margin: 0;
  padding: 0 30px 0 60px;
}

.one {
  grid-row: 2;
  grid-column: 1 / span 5;
}

.two {
  grid-row: 3;
  grid-column: 2 / span 5;
}

.three {
  grid-row: 4;
  grid-column: 3 / span 5;
}

.four {
  grid-row: 5;
  grid-column: 1 / span 5;
}

.five {
  grid-row: 6;
  grid-column: 2 / span 5;
  margin-bottom: 200px;
}
