.container {
  margin-bottom: 96px;
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.proofTitle {
  margin-bottom: 32px;
  text-align: center;
}

.logoBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logoBar img {
}

.quote {
  margin: 80px 24px 32px 24px;
  text-align: center;
}

@media (--mobile) {
  .container {
    margin: 48px 16px;
    width: auto;
  }

  .logoBar {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .logoBar img {
    margin-bottom: 10px;
    margin-right: 32px;
  }
}
