.container {
  /* Internal links work better if we use padding isntead of margins */
  margin: 196px auto;
  padding-top: 74px;
  margin-top: calc(196px - 74px);
  margin-bottom: calc(196px - 74px);
  max-width: 1120px;
  box-sizing: border-box;
}

.solution {
  --main-width: calc(100%*8/13);
  --side-width: calc(100%*4/13);
  margin: 0 0 148px;
}

.solutionHeading, .solutionMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.solutionHeading {
  margin: 0 0 64px;
  align-items: center;
}

.solutionTitle, .solutionPrimaryImage {
  width: var(--main-width);
}

.solutionSupportingImage, .solutionFeatures {
  width: var(--side-width);
}

.solutionPrimaryImage img,
.solutionSupportingImage img { width: 100% }

.feature {
  margin: 0 0 48px;
}

.learnMore {
  width: 100%;
  text-align: center;
  margin-top: -96px;
}

@media (--mobile) {
  .container {
    width: auto;
    margin: 48px 24px;
    padding: 0;
  }

  .solution {
    margin-bottom: 48px;
  }

  .solutionPrimaryImage {
    margin-bottom: 24px;
  }

  .learnMore {
    margin-top: -48px;
  }

  .solutionTitle,
  .solutionPrimaryImage,
  .solutionSupportingImage,
  .solutionFeatures{
    width: 100%;
  }

  .solutionHeading, .solutionMain {
    flex-direction: column;
    justify-content: space-between;
  }
}