/* Grid container */

.container {
  display: grid;
  grid-template-columns: 238px 290px 6px 290px 6px 290px;
  position: relative;
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

/* Divider */

.divider {
  border: 0;
  border-top: 1px rgba(255, 255, 255, .1) solid;
  height: 0;
  grid-column: 1 / -1;
  width: 100%;
  margin: 0;
}

.supportDivider {
  grid-row: 2;
}

.maintenanceDivider {
  grid-row: 4;
}

.beyondDivider {
  grid-row: 6;
}

/* Blocks */

.block {
  font-size: 14px;
  line-height: 45px;
  padding-bottom: 60px;
  padding-top: 12px;
}

.tierBlock {
  background-color: rgba(255, 255, 255, 0.07);
  color: white;
}

.headingBlock {
  color: var(--white-seventy);
}

.headingBlock h4 {
  font-size: inherit;
}

.headingBlock div {
  border-bottom: 1px transparent solid;
}

.dataBlock {
  padding-left: 24px;
  padding-right: 24px;
}

.dataBlock div {
  border-bottom: 1px rgba(255, 255, 255, .1) dashed;
}

/* Tier Heading */

.tierHeading {
  grid-row: 1;
  padding: 48px 0 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tierHeading .tierName {
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 0;
}

.tierHeading .tierPrice {
  font-weight: 500;
  margin: 0;
}

.tierHeadingStandard {
  grid-column: 2 / 3;
}

.tierHeadingPremium {
  grid-column: 4 / 5;
}

.tierHeadingEnterprise {
  grid-column: 6 / 7;
}

/* Block layouts */

.supportHeadingBlock {
  grid-column: 1 / 2;
  grid-row: 3;
}

.maintenanceHeadingBlock {
  grid-column: 1 / 2;
  grid-row: 5;
}

.beyondHeadingBlock {
  grid-column: 1 / 2;
  grid-row: 7;
}

.standardSupportBlock {
  grid-column: 2 / 3;
  grid-row: 3;
}

.standardMaintenanceBlock {
  grid-column: 2 / 3;
  grid-row: 5;
}

.standardBeyondBlock {
  grid-column: 2 / 3;
  grid-row: 7;
}

.premiumSupportBlock {
  grid-column: 4 / 5;
  grid-row: 3;
}

.premiumMaintenanceBlock {
  grid-column: 4 / 5;
  grid-row: 5;
}

.premiumBeyondBlock {
  grid-column: 4 / 5;
  grid-row: 7;
}

.enterpriseSupportBlock {
  grid-column: 6 / 7;
  grid-row: 3;
}

.enterpriseMaintenanceBlock {
  grid-column: 6 / 7;
  grid-row: 5;
}

.enterpriseBeyondBlock {
  grid-column: 6 / 7;
  grid-row: 7;
}

/* Footnotes */

.footnotes {
  grid-row: 8;
  grid-column: 2 / -1;
  margin-top: 34px;
  display: flex;
  color: var(--white-seventy);
  font-size: 13px;
  line-height: 19px;
}

.footnotes .footnoteMarker {
  padding-left: 0;
  padding-right: 8px;
}

/* Response Times */

.responseTimes {
  margin-top: 48px;
  grid-row: 9;
  grid-column: 2 / -1;
}

.responseTimes h5 {
  margin-bottom: 45px;
}

.responseTimesTable {
  font-size: 14px;
  line-height: 45px;
  color: white;
}

.responseTime {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgba(255, 255, 255, .1) dotted;
}

.responseTimePeriod {
  color: var(--white-seventy);
}

/* Get Started */

.getStarted {
  margin-top: 88px;
  grid-row: 10;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.getStarted a {
  margin-top: 0;
}

/* Details */

.details {
  grid-row: 11;
  grid-column: 2 / -1;
  margin-bottom: 160px;
  margin-top: 105px;
  display: flex;
  color: var(--white-seventy);
}

.details ul {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 1em;
}

.details ul + h5 {
  margin-top: 48px;
}

.details li {
  margin-top: .5em;
}

.detailsLeft {
  margin-right: 100px;
  width: 50%;
}

.detailsRight {
  width: 50%;
}

/* Utilities */

.na {
  color: var(--white-fifty);
}

.hiddenLabel {
  display: none;
}

.footnoteMarker {
  color: var(--aptible-yellow);
  font-weight: 500;
  padding-left: 4px;
  font-size: 10px;
}

.smallHeading {
  text-transform: uppercase;
  font-size: 10px;
  color: var(--white-fifty);
}
