/* Grid container */

.container {
  display: grid;
  grid-template-columns: 238px 290px 6px 290px 6px 290px;
  position: relative;
  width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
}

@media (--mobile) {
  .container {
    grid-template-columns: 1fr 6px 1fr 6px 1fr;
    width: 85%;
  }
}

@media (max-width: 739px) {
  .container {
    grid-template-columns: 1fr;
  }
}

/* Divider */

.divider {
  border: 0;
  border-top: 1px rgba(255, 255, 255, .1) solid;
  height: 0;
  grid-column: 1 / -1;
  width: 100%;
  margin: 0;
}

@media (max-width: 739px) {
  .divider {
    display: none;
  }
}

.supportDivider {
  grid-row: 2;
}

.beyondDivider {
  grid-row: 4;
}

/* Blocks */

.block {
  font-size: 14px;
  line-height: 45px;
  padding-bottom: 60px;
  padding-top: 12px;
}

@media (--mobile) {
  .block {
    font-size: 12px;
    padding-bottom: 40px;
  }
}

@media (max-width: 739px) {
  .block {
    padding-bottom: 20px;
  }
}

.tierBlock {
  background-color: rgba(255, 255, 255, 0.07);
  color: white;
}

.headingBlock {
  color: var(--white-seventy);
}

@media (--mobile) {
  .headingBlock {
    display: none;
  }
}

.headingBlock h4 {
  font-size: inherit;
}

.headingBlock div {
  border-bottom: 1px transparent solid;
}

.dataBlock {
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}

@media (--mobile) {
  .dataBlock {
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.dataBlockRow {
  border-bottom: 1px rgba(255, 255, 255, .1) dashed;
}

.dataBlockMobileLabel {
  display: none;
}

@media (--mobile) {
  .dataBlockMobileLabel {
    display: block;
    margin-bottom: -20px;
    color: var(--aptible-green-seventy);
  }
}

/* Tier Heading */

.tierHeading {
  grid-row: 1;
  padding-bottom: 24px;
  padding-top: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (--mobile) {
  .tierHeading {
    padding-bottom: 24px;
    padding-top: 30px;
  }
}

@media (max-width: 739px) {
  .tierHeading {
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.tierHeading .tierName {
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 0;
}

.tierDescription {
  font-size: 13px;
  margin: 16px 32px;
  text-align: center;
  color: var(--white-fifty);
}

.tierHeading .tierPrice {
  font-weight: 500;
  margin: 0;
}

.tierHeading .tierStartingAt {
  font-size: 12px;
  margin: 0;
  color: var(--white-fifty);
}

.tierHeadingStandard {
  grid-column: 2 / 3;
}

@media (--mobile) {
  .tierHeadingStandard {
    grid-column: 1 / 2;
  }
}

@media (max-width: 739px) {
  .tierHeadingStandard {
    grid-column: 1 / -1;
    grid-row: 1;
  }
}

.tierHeadingPremium {
  grid-column: 4 / 5;
}

@media (--mobile) {
  .tierHeadingPremium {
    grid-column: 3 / 4;
  }
}

@media (max-width: 739px) {
  .tierHeadingPremium {
    grid-column: 1 / -1;
    grid-row: 5;
    margin-top: 6px;
  }
}

.tierHeadingEnterprise {
  grid-column: 6 / 7;
}

@media (--mobile) {
  .tierHeadingEnterprise {
    grid-column: 5 / 6;
  }
}

@media (max-width: 739px) {
  .tierHeadingEnterprise {
    grid-column: 1 / -1;
    grid-row: 9;
    margin-top: 6px;
  }
}

/* Block layouts */

.trtHeadingBlock {
  grid-column: 1 / 2;
  grid-row: 3;
}

.supportHeadingBlock {
  grid-column: 1 / 2;
  grid-row: 4;
}

.beyondHeadingBlock {
  grid-column: 1 / 2;
  grid-row: 5;
}

.standardTrtBlock {
  grid-column: 2 / 3;
  grid-row: 3;
}

.standardSupportBlock {
  grid-column: 2 / 3;
  grid-row: 4;
}

.standardBeyondBlock {
  grid-column: 2 / 3;
  grid-row: 5;
}

@media (--mobile) {
  .standardSupportBlock,
  .standardTrtBlock,
  .standardBeyondBlock {
    grid-column: 1 / 2;
  }
}

@media (max-width: 739px) {
  .standardTrtBlock {
    grid-row:2;
  }

  .standardSupportBlock {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .standardBeyondBlock {
    grid-column: 1 / -1;
    grid-row: 4;
  }
}

.premiumTrtBlock {
  grid-column: 4 / 5;
  grid-row: 3;
}

.premiumSupportBlock {
  grid-column: 4 / 5;
  grid-row: 4;
}

.premiumBeyondBlock {
  grid-column: 4 / 5;
  grid-row: 5;
}

@media (--mobile) {
  .premiumTrtBlock,
  .premiumSupportBlock,
  .premiumBeyondBlock {
    grid-column: 3 / 4;
  }
}

@media (max-width: 739px) {
  .premiumTrtBlock {
    grid-column: 1 / -1;
    grid-row: 6;
  }

  .premiumSupportBlock {
    grid-column: 1 / -1;
    grid-row: 7;
  }

  .premiumBeyondBlock {
    grid-column: 1 / -1;
    grid-row: 8;
  }
}

.enterpriseTrtBlock {
  grid-column: 6 / 7;
  grid-row: 3;
}

.enterpriseSupportBlock {
  grid-column: 6 / 7;
  grid-row: 4;
}

.enterpriseBeyondBlock {
  grid-column: 6 / 7;
  grid-row: 5;
}

@media (--mobile) {
  .enterpriseTrtBlock,
  .enterpriseSupportBlock,
  .enterpriseBeyondBlock {
    grid-column: 5 / 6;
  }
}

@media (max-width: 739px) {
  .enterpriseTrtBlock {
    grid-column: 1 / -1;
    grid-row: 10;
  }

  .enterpriseSupportBlock {
    grid-column: 1 / -1;
    grid-row: 11;
  }
  
  .enterpriseBeyondBlock {
    grid-column: 1 / -1;
    grid-row: 12;
  }
}

/* Response Times */

.responseTimes {
  margin-top: 48px;
  grid-row: 7;
  grid-column: 2 / -1;
}

@media (--mobile) {
  .responseTimes {
    grid-column: 1 / -1;
  }
}

@media (max-width: 739px) {
  .responseTimes {
    grid-row: 13;
  }
}

.responseTimes h5 {
  margin-bottom: 45px;
}

.responseTimesTable {
  font-size: 14px;
  line-height: 45px;
  color: white;
}

.responseTime {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgba(255, 255, 255, .1) dotted;
}

.responseTimePeriod {
  color: var(--white-seventy);
}

/* Get Started */

.getStarted {
  margin-top: 88px;
  grid-row: 8;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 739px) {
  .getStarted {
    display: block;
  }
}

@media (max-width: 739px) {
  .getStarted {
    grid-row: 14;
  }
}

@media (min-width: 740px) {
  .getStarted a {
    margin-top: 0;
  }
}

/* Details */

.details {
  grid-row: 9;
  grid-column: 2 / -1;
  margin-bottom: 160px;
  margin-top: 105px;
  display: flex;
  color: var(--white-seventy);
}

@media (--mobile) {
  .details {
    grid-column: 1 / -1;
  }
}

@media (max-width: 739px) {
  .details {
    display: block;
    grid-row: 15;
  }
}

.details ul {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 1em;
}

.details ul + h5 {
  margin-top: 48px;
}

.details li {
  margin-top: .5em;
}

.details {
  margin-right: -52px;
}

.detailsLeft {
  width: 50%;
  padding-right: 52px;
}

.detailsRight {
  width: 50%;
  padding-right: 52px;
}

@media (--mobile) {
  .detailsLeft,
  .detailsRight {
    padding-right: 0;
  }
}

@media (max-width: 739px) {
  .detailsLeft {
    margin-right: 0;
    width: 100%;
  }
  
  .detailsRight {
    margin-top: 48px;
    width: 100%;
  }
}

/* Utilities */

.na {
  color: var(--white-fifty);
}

.hiddenLabel {
  display: none;
}

.smallHeading {
  text-transform: uppercase;
  font-size: 10px;
  color: var(--white-fifty);
}
