.container {
  background: no-repeat 820px 294px/1000px url('../../../images/illustrations/comply.png'); 
  margin-bottom: 110px;
  padding-top: 30px;
}

.content {
  grid-column: 1 / -1;
  margin-bottom: 50px;
}

.content h1 {
  font-size: 90px;
  margin-bottom: 60px;
}

.content h5 {
  margin-bottom: 30px;
}

.content p {
  margin: 0 80px 60px 0;
  max-width: 720px;
}

.screenshot {
  grid-column: 1 / -1;
  width: 100%;
}

.screenshot > img {
  display: block;
  width: 100%;
}

@media (--mobile) {
  .container {
    background: none;
    margin-bottom: 100px;
  }

  .content {
    text-align: left;
    padding-bottom: 30px;
  }

  .content h1 {
    font-size: 48px;
    margin-bottom: 15px;
  }

  .content p {
    margin: 0 0 30px 0;
    max-width: 100%;
  }
}
