.intro {
  grid-row: 1;
  grid-column: 2 / span 5;
  position: relative;
  z-index: 2;
}

.callout {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  margin-bottom: 61px;
}

.callout h5 {
  padding-top: 200px;
  position: sticky;
  top: 0;
}

.steps {
  grid-row: 2;
  grid-column: 3 / span 5;
  margin-bottom: 48px;
  margin-top: 86px;
}

.steps ol {
  position: relative;
  z-index: 1;
  list-style: none;
  counter-reset: deploy-steps;
  padding: 0;
}

.steps li {
  counter-increment: deploy-steps;
  font-size: 16px;
  line-height: 48px;
  color: var(--white-thirty);
}

.steps li:before {
  display: inline-block;
  content: counter(deploy-steps) ". ";
  color: var(--white-thirty);
  width: 35px;
  text-align: left;
}

.steps li.aptible {
  color: white;
}

.steps li.aptible:before {
  color: white;
}

.stepsArrow {
  position: relative;
  grid-row: 2;
  grid-column: 3 / span 5;
}

.stepsArrow svg {
  position: absolute;
  top: 127px;
  left: 305px;
  z-index: 0;
}

.useAptible {
  grid-row: 3;
  grid-column: 2 / span 5;
  margin-bottom: 200px;
}

@media (--mobile) {
  .container {
    margin-bottom: 100px;
  }

  .intro {
    grid-column: 1 / span 7;
  }

  .callout {
    grid-row: 2;
    grid-column: 1 / span 7;
    margin-bottom: 15px;
  }

  .callout h5 {
    padding-top: 60px;
    position: static;
  }

  .steps {
    grid-row: 3;
    grid-column: 1 / span 7;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .steps ol {
    margin-top: 25px;
  }

  .steps li {
    position: relative;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: 15px;
    max-width: 260px;
  }

  .steps li:before {
    position: absolute;
    top: 0;
    left: -15px;
  }

  .stepsArrow {
    position: relative;
    grid-row: 2;
    grid-column: 1 / span 7;
  }

  .stepsArrow svg {
    position: absolute;
    top: 90px;
    left: 200px;
    z-index: 0;
    width: 175px;
  }

  .useAptible {
    grid-row: 4;
    grid-column: 1 / span 7;
    margin-bottom: 30px;
  }
}
