.assets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.assetsStacked {
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

.asset {
  display: flex;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  color: white;
}

.asset {
  margin-right: 15px;
}

.assetsStacked .asset {
  margin-right: 0;
}

.asset svg {
  color: var(--aptible-green);
  display: inline-block;
  margin-right: 6px;
  height: 10px;
  width: 10px;
  flex-shrink: 0;
}
