.controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -5px;
}

.controlsStacked {
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

.control {
  height: 28px;
  border-radius: 14px;
  background-color: rgba(51, 198, 159, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--aptible-green);
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.controlsStacked .control {
  margin-right: 0;
}
