.container {
  display: flex;
}

.photo {
  margin-right: 30px;
  padding-top: 8px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
}

.photo img {
  display: block;
  width: 100%;
}

.quote {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
}

.citation {
  color: var(--white-seventy);
  margin-top: 36px;
  font-size: 16px;
  line-height: 1.5;
}

.company {
  color: var(--white-thirty);
  font-size: 15px;
  line-height: 2;
}
