.evidenceChecks {
  color: var(--white-fifty);
  font-size: 12px;
  line-height: 1.5;
}

.evidenceCheck + .evidenceCheck {
  margin-top: 1em;
}

.evidenceCheck h5 {
  font-size: 13px;
  font-weight: 400;
  line-height: inherit;
  letter-spacing: .02em;
}

.evidenceCheck p {
  font-size: inherit;
  margin: 0;
  padding-right: 2em;
}
