.container {
  padding-top: 30px;
}

.content {
  grid-column: 1 / -1;
}

.content h1 {
  font-size: 90px;
}

.content h5 {
  margin-bottom: 30px;
}

@media (--mobile) {
  .content h1 {
    font-size: 48px;
  }

  .content h5 {
    margin-bottom: 15px;
  }
}
