.container {
  margin-top: 156px;
  margin-bottom: 200px;
}

.content {
  grid-column: 1 / -1;
}

.content h2 {
  font-size: 64px;
  line-height: 1.09375;
  margin-bottom: .75em;
}

.content p {
  max-width: 400px;
}

@media (--mobile) {
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .content h2 {
    font-size: 48px;
  }
}