.container {
  /*  */
}

.automates {
  grid-row: 1;
  grid-column: 2 / span 5;
  margin-bottom: 80px;
}

.firstLeft {
  grid-row: 2;
  grid-column: 2 / span 3;
  margin-right: 160px;
}

.firstRight {
  grid-row: 2;
  grid-column: 6 / span 2;
}

.bullet {
  position: relative;
  margin-bottom: 60px;
}

.bulletIcon {
  position: absolute;
  left: -160px;
  width: 160px;
  text-align: center;
  top: 0;
}

.bulletIcon img {
  width: 48px;
}

.focus {
  grid-row: 3;
  grid-column: 2 / span 5;
  margin: 80px 0;
}

.secondLeft {
  grid-row: 4;
  grid-column: 2 / span 3;
  margin-right: 160px;
}

.secondRight {
  grid-row: 4;
  grid-column: 6 / span 2;
}

@media (--mobile) {
  .automates {
    grid-column: 1 / span 7;
  }

  .bullets {
    grid-row: 1;
    grid-column: 1 / span 7;
    margin-right: 0;
  }

  .bulletIcon {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }

  .firstLeft {
    grid-row: 2;
    grid-column: 1 / span 7;
    margin-right: 0;
  }

  .firstRight {
    grid-row: 3;
    grid-column: 1 / span 7;
  }

  .focus {
    grid-row: 4;
    grid-column: 1 / span 7;
    margin: 30px 0 90px 0;
  }

  .secondLeft {
    grid-row: 5;
    grid-column: 1 / span 7;
    margin-right: 0;
  }

  .secondRight {
    grid-row: 6;
    grid-column: 1 / span 7;
  }
}
