.container {
  margin-bottom: 100px;
}

.headline {
  position: relative;
  grid-row: 1;
  grid-column: 1 / span 4;
  z-index: 2;
  padding-top: 100px;
}

.headline h3 {
  color: var(--aptible-yellow);
  margin-bottom: 15px;
}

.illustration {
  position: relative;
  grid-row: 1;
  grid-column: 4 / span 4;
  z-index: 1;
}

.illustration img {
  max-width: 100%;
}
