.container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--aptible-black-seventy);
  z-index: 100;
}

.window {
  width: 890px;
  margin: 150px auto 0 auto;
  padding: 115px;
  background-color: var(--aptible-black-light);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form {
  grid-row: 1;
  grid-column: 1 / span 2;
  margin-bottom: 60px;
  position: relative;
}

.closeIcon {
  position: absolute;
  top: -70px;
  right: -70px;
  cursor: pointer;
}

.form input[type="email"] {
  font-size: 60px;
  font-weight: 500;
  color: white;
  border-bottom: 1px solid var(--white-thirty);
  padding-right: 27%;
  background-color: transparent;
  mix-blend-mode: normal;
  width: 73%;
}

.form input[type="email"]::-webkit-input-placeholder {
  color: var(--body-color);
  font-weight: 500;
}

.button {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.illustration {
  grid-row: 2;
  grid-column: 1;
  margin-right: 30px;
}

.illustration img {
  width: 100%;
}

.bullets {
  grid-row: 2;
  grid-column: 2;
  margin-left: 30px;
}

@media (--mobile) {
  .window {
    width: 90%;
    padding: 5%;
  }

  .form {
    margin-bottom: 0;
  }

  .form h4 {
    font-size: 24px;
    line-height: 30px;
    margin-right: 50px;
    margin-bottom: 15px;
  }

  .closeIcon {
    top: 0;
    right: 0;
  }

  .form input[type="email"] {
    font-size: 24px;
    width: 100%;
    padding-right: 0;
  }

  .button {
    position: relative;
    margin-top: 45px;
  }

  .illustration {
    display: none;
  }

  .bullets {
    display: none;
  }
}
