.container {
  text-align: center;
  grid-column: 1 / span 7;
  padding-bottom: 30px;
}

.container h3 {
  margin-bottom: 30px;
  color: var(--aptible-yellow);
}

.container h1 {
  margin-bottom: 45px;
}

.container img {
  max-width: 100%;
}

@media (--mobile) {
  .container {
    padding-top: 30px;
  }

  .container h3 {
    margin-bottom: 15px;
  }
}
